<%= form_for([:admin, @user_gift_request], html: { class: 'form-horizontal user_gift_request' }) do |f| %>
  <% if @user_gift_request.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@user_gift_request.errors.count, "error") %> prohibited this user_gift_request from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @user_gift_request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :id, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :id, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_id, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :user_id, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :offer_id, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :offer_id, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :created_at, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :created_at, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.label :status, for: nil do %>
        <%= f.check_box :status %>
        <%= UserGiftRequest.human_attribute_name(:status) %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to 'Back', admin_user_gift_requests_path, class: 'btn btn-default',style:"margin-top: 11px;
        margin-left: 20px;" %>
    </div>
  </div>
<% end %>
