<div class="page-header">
  <h1>Editing user_gift_request</h1>
</div>

<%= render 'form' %>

<%#= link_to 'Show', [:admin, @user_gift_request], class: 'btn btn-default' %>
<%#= link_to 'Back', admin_user_gift_requests_path, class: 'btn btn-default' %>
