<div class="page-header">
  <h1>Listing Gift Card Requests</h1>
</div>

<% if @user_gift_requests.present? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>User</th>
      <th>UserEmail</th>
      <th>Requested Prize</th>
      <th>Points Redeem</th>
 
      <th>Created at</th>
      <th>Status</th>
      <th>Action</th>
      
    </tr>
  </thead>

  <tbody>
    <% @user_gift_requests.each do |user_gift_request| %>
      <tr>
        <td><%= user_gift_request.id %></td>
        <td><%= User.find(user_gift_request.user_id).first_name %></td>
        <td><%= User.find(user_gift_request.user_id).email %></td>
        <td><%= Offer.find(user_gift_request.offer_id).offer_prize %></td>
        <td><%= Offer.find(user_gift_request.offer_id).points %></td>
        <td><%= user_gift_request.created_at %></td>
        <td><% if(user_gift_request.status==true) %><%= link_to 'Gift Card sent',"#", class: 'btn btn-success btn-xs' %><%else%><%= link_to 'Gift Card send', gift_request_send_admin_user_gift_request_path(user_gift_request.id), class: 'btn btn-default btn-xs' %><%end%></td> <td><%= link_to 'Show', [:admin, user_gift_request], class: 'btn btn-default btn-xs' %>
       <%= link_to 'Edit', edit_admin_user_gift_request_path(user_gift_request), class: 'btn btn-default btn-xs' %><%= link_to 'Destroy', [:admin, user_gift_request], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger',:style=>"margin-left:5px;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
No Request available
<% end %>

<br>

<%#= link_to 'New User gift request', new_admin_user_gift_request_path, class: 'btn btn-primary' %>
