<p id="notice"><%= notice %></p>
 <div class="main-container" style="margin-top: 100px;">
<dl class="dl-horizontal">
  <dt><strong>Id:</strong></dt>
  <dd><%= @user_gift_request.id %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>User:</strong></dt>
  <dd><%= @user_gift_request.user_id %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Offer:</strong></dt>
  <dd><%= @user_gift_request.offer_id %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Created at:</strong></dt>
  <dd><%= @user_gift_request.created_at %></dd>
</dl>



<%= link_to 'Edit', edit_admin_user_gift_request_path(@user_gift_request), class: 'btn btn-default' %>
<%= link_to 'Back', admin_user_gift_requests_path, class: 'btn btn-default' %>
</div>