<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user_name %></h1>
    <p>Someone has requested to change your password. You can do this through the link below.<br></p>
    <%= link_to "Change my password", @url %>
    <p>This link will expire within 2 hours.</p>
    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>
  </body>
</html>