<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <% debugger %>
    <h1>Hello <%= @user_name %></h1>
    <p><%=  @message %></p><br><br>
   
   
      <p>Thanks</p>
     <p>Tune Reward</p>
  </body>
</html>