
      <!-- main_content -->
      <div class="main_content">
         <!-- find -->
         <section class="top_heading text-center">
            <div class="container">
               <h3>Notifications</h3>
            </div>
         </section>
         <section class="notif">
            <div class="container">
            <%    @notification.each do |noti| %>
               <aside class="notifi_text">
                  <p><%= noti.message %><span style="color: #f97d9e;"></span></p>
                  <p><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(noti.created_at)  %> Ago
                 </p>
               </aside>
               <% end %>
               <!-- <aside class="notifi_text">
                  <p>Your Profile has been liked by <span style="color: #f97d9e;">Olivia Green</span></p>
                  <p><i class="fa fa-clock-o" aria-hidden="true"></i> 4 mins ago</p>
               </aside>
               <aside class="notifi_text">
                  <p>Your song “Cheap Thrill ” liked by <span style="color: #f97d9e;">Jon smith.</span></p>
                  <p><i class="fa fa-clock-o" aria-hidden="true"></i> 2 days</p>
               </aside>
               <aside class="notifi_text">
                  <p>Your Profile has been liked by <span style="color: #f97d9e;">Olivia Green</span></p>
                  <p><i class="fa fa-clock-o" aria-hidden="true"></i> 3 days </p>
               </aside>
               <aside class="notifi_text">
                  <p>Your song “Cheap Thrill ” liked by <span style="color: #f97d9e;">Jon smith.</span></p>
                  <p><i class="fa fa-clock-o" aria-hidden="true"></i> 4 days</p>
               </aside>
               <aside class="notifi_text">
                  <p>Your Profile has been liked by <span style="color: #f97d9e;">Olivia Green</span></p>
                  <p><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days </p>
               </aside> -->
            </div>
         </section>
      </div>
<div class="digg_pagination">
   
    <%= will_paginate @notification, :container => false %>
  </div>
   