
      <!-- main_content -->
      <div class="main_content">
         <!-- find -->
         <section class="top_heading text-center">
            <div class="container">
               <h3>Account Settings</h3>
            </div>
         </section>
         <%#= current_user.id %>
         <section class="addnew_album">
         
            <div class="container">
              <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div> 
          <% end %>
               <%= form_for(:user, :html => { :class => "edit_pro", :role => "form"}, url: update_notification_notifications_path) do |f| %>
                  <div class="form_field">
                     <div class="n_setting">
                        <h4>Notifications Settings</h4>
                        <p>You'll see every notification on walfly, but you can turn off notifications about
                           specific posts.
                        </p>
                     </div>
                     <div class="form-group likes">
                        <div class="row">
                           <div class="col-sm-3 col-xs-6">
                               <label for="exampleInputEmail1">Profile Likes</label>
                           </div>
                           <div class="col-sm-3 col-xs-4 box_width">
                              <div class="select_box client">
                              <select name="profile_notification">
                                    <option <% if current_user.profile_notification ==  true %> selected <% end %> value=true>ON</option>
                                    <option <% if current_user.profile_notification ==  false %> selected <% end %> value=false>OFF</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group likes">
                        <div class="row">
                           <div class="col-sm-3 col-xs-6">
                              <label for="exampleInputEmail1">Songs Like</label>                           </div>
                           <div class="col-sm-3 col-xs-4 box_width">
                              <div class="select_box client">
                                 <select name="song_notification">
                                    <option <% if current_user.song_notification ==  true %> selected <% end %> value=true>ON</option>
                                    <option <% if current_user.song_notification ==  false %> selected <% end %> value=false>OFF</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                      <%= f.submit "Save Setting", :class => "btn save" %>
                     <div class="clear"></div>
                   
               <% end %>
            </div>
         </section>
      </div>

    <!--   <script src="js/jquery.js" type="text/javascript"></script>
      <script src="js/bootstrap.js" type="text/javascript"></script>
      <script src="js/owl.carousel.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
      <script src="https://cdn.rawgit.com/atatanasov/gijgo/master/dist/combined/js/gijgo.min.js" type="text/javascript"></script> -->
      <script>
         $(document).ready(function () {
             $('#datepicker').datepicker({
               uiLibrary: 'bootstrap'
             });
         });
      </script>
  