      <!-- main_content -->
      <div class="main_content">
         <!-- find -->
         <section class="top_heading text-center">
            <div class="container">
               <h3>My Profile</h3>
            </div>
         </section>
         <section class="my_profilee">
            <div class="profile_box">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-5">
                        <div class="profile_left">
                           <h1><%= current_user.first_name %>  <%= current_user.last_name %></h1>
                           <% if current_user.dob.present? %>
                           <p><%= current_user.dob.strftime('%d/%m/%Y') %> (<%= current_user.age %> Years)</p>
                           <% end %>
                               <%= form_for( :user , :html => {:class => "inna_profile", :role => "form"}, url: @users_path) do |f| %> 
                              <div class="form-group">
                                 <%= f.label :music, :name => "Genre", :for => "exampleInputEmail1" %>
                                 <%#= f.text_field :music, class: "form-control", :id => "exampleInputEmail1", :placeholder => "current_user.user_genre.genre.name" %>
                                <!--   <input type="text", id = "exampleInputEmail1" class= "form-control" placeholder="<%#= current_user.user_genre.genre.name %>" > -->
                              </div>
                           <% end %>
                           <p ><%= link_to  usersetting_path, :style=>"color: #fff" do%><span class="pencil" style="color: #fff"><%= image_tag ("pencil.png") %></span>Edit Profile<%end%></p>
                        </div>
                     </div>
                     <div class="col-sm-7 profile_right">
                     <%= image_tag (current_user.image) %>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="graph">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="anylatic">
                        <div class="anylatic_text">
                           <h2>My Analytics</h2>
                        </div>
                         <div class="anylatic_drop" style="margin-left: 5px;">
                        <div class="form-group">
                             <div class="select_box client">
                              <% cyear = params[:year].present? ? params[:year].to_i : Date.today.year %>
                               <%= select_year(cyear, start_year: Date.today.year-5, end_year: Date.today.year,:id=>"year_select")  %>
                              </div>
                             </div>
                             </div>
                        <div class="anylatic_drop">

                           <div class="form-group">
                              <div class="select_box client">
                              <% cmonth = params[:month].present? ? params[:month].to_i : Date.today.month %>
                             <%= select_month cmonth,:id=>"select_month"  %>

                            
                                
                              </div>
                              
                           </div>

                        </div>
                        
                        <% 
                        if params[:month].present?
                           month = params[:month]
                        else
                        month = Date.today.month
                        end
                         %>
                       
                         <%#= month %>
                       <%  month_beginning = Date.new(cyear,month.to_i) %>
                       <% month_ending = month_beginning.end_of_month %>
                        <!-- .where('created_at BETWEEN ? AND ?', month_beginning, month_ending) -->
                        <%#= image_tag ("graph.png") %>
                        <%= line_chart [ {name: "Song View", data: RecentlyPlay.where(:song_id=>current_user.songs).where('created_at BETWEEN ? AND ?', month_beginning, month_ending).group_by_day(:created_at).count}, {name:"Song Like", data: Favourite.where(:favourable_id=>current_user.songs,:favourable_type=>'Song').where('created_at BETWEEN ? AND ?', month_beginning, month_ending).group_by_day(:created_at).count},{name:"Profile Like",data:current_user.favourites.where('created_at BETWEEN ? AND ?', month_beginning, month_ending).count}] %>
                         
                        

                       <%#= line_chart  current_user.favourites(:created_at).count %>
                        <%#= current_user.songs %>

                     </div>
                  </div>
                 
                  <div class="clear"></div>
               </div>
            </div>
         </section>
      </div>
      
    
<script type="text/javascript">
   $(document).ready(function(){
      $('#date_month').change(function(){
       
         window.location.href = "/my_profile?month="+ $(this).val()+"&year="+$('#date_year').val();
      })
      $('#date_year').change(function(){
       
         window.location.href = "/my_profile?year="+ $(this).val()+"&month="+$('#date_month').val();
      })
      
   })
</script>