
      <!-- main_content -->
      <div class="main_content">
         <!-- find -->
         <section class="top_heading text-center">
            <div class="container">
               <h3>Create Profile</h3>
            </div>
         </section>
         <section class="addnew_album">
            <div class="container">
           
               <%#= form_for(current_user, as: "user", url: registration_path("user"), class: "edit_pro", method: "put",multipart: true ) do |f| %>
               <%= form_for(current_user, as: "user",:html => { :class => "edit_pro", :role => "form" }, url: update_profile_path) do |f| %>
                 <div class="um-profile-photo" data-user_id="2">
                  <%= link_to '#',  :class => "um-profile-photo-img" do %>
                  <% if current_user.image.present? %>
                  <%= image_tag current_user.image,alt: 'Profile Image', :id => "profile_image" %>
                     <% else %>
                     <%= image_tag ("profile.png"), :id => "profile_image", :alt => "Profile Image" %>
                     <% end %>
                     <%#= form_for(current_user, as: "user",url: registration_path("user"),:html => {:id => "upload_img", :role => "form"}) do |f| %> 
                     <div id="upload_img">
                        <%= f.file_field :image1,:accept => "image/png,image/jpeg,image/jpg" %>
                        <%= f.hidden_field :image,:id => "my_image" %>
                    </div>
                  <% end %>
               </div>

                  <div class="forn_field">
                     <div class="form-group">
                        <%= f.label :first_name , name: "First Name", :for => "exampleInputEmail1" %>
                        <%= f.text_field :first_name, class: "form-control", maxlength: 25,minlength: 3,:pattern=>"^[a-zA-Z \.\,\\-]*$", :id => "exampleInputEmail1", :placeholder => "Enter your name", required:true %>
                     </div>
                      <div class="form-group">
                        <%= f.label :last_name, name: "Last name", :for => "exampleInputEail1" %>
                        <%= f.text_field :last_name, class: "form-control", maxlength: 25,minlength: 3,:pattern=>"^[a-zA-Z \.\,\\-]*$", :id => "exampleInputEmail1", :placeholder => "Enter your name", required:true %>
                     </div>
                       <div class="form-group">
                        <%= f.label :username, name: "username", :for => "exampleInputEail1" %>
                        <%= f.text_field :username, class: "form-control", maxlength: 25,minlength: 3, :id => "exampleInputEmail1", :placeholder => "Enter your username", required:true %>
                     </div>
                     <div class="form-group">
                        <%= f.label :dob,"DOB", name: "Date of Birth", :for => "exampleInputEmail1" %>
                        <%= f.text_field :dob,  class: "form-control", :id => "dob", :placeholder => "DD/MM/YYYY", required: true %>
                     </div>
                     <div class="form-group">
                        <%= f.label :age, name: "Age", :for => "exampleInputEmail1" %>
                       
                         <%= text_field_tag :age1,"",  class: "form-control", :id => "age1", :placeholder => "e.g 24", disabled:true,required:true,:value=>current_user.age%>
                         <%= f.hidden_field :age, class: "form-control", :id => "age" %>
                  
                        
                     </div>
             
                     <div class="clear"></div>
                     <div class="custom_check_outer">
                        <div class="custom_check new_check">
                           <%=check_box_tag(:Accept,:required => true ) %>
                          
                           </label>
                        </div>
                     </div>
                     <p class="terms">i agree to the terms and conditions and privacy policy</p>

                        <%= f.submit "Create Profile", :class => "btn sign" %>
                     <%#= link_to 'Create Profile', @root_path, class: "btn sign", :role => "button" %>

                  </div>
               <% end %>
            </div>
         </section>
      </div>
   

          <div id="imagemodal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>
          <img src="" id="preview_image">
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" id="save_image">save image</button>
      </div>
    </div>

  </div>
</div>

 <link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.css">
<script type="text/javascript">
      var image_ary = [];

  window.addEventListener('DOMContentLoaded', function () {
    var image = document.getElementById('preview_image');
    var input = document.getElementById('user_image1');
    var $progress = $('.progress');
    var $progressBar = $('.progress-bar');
    var $alert = $('.alert');
    var $modal = $('#imagemodal');
    var cropper;
       document.getElementById('save_image').addEventListener('click', function () {  
      $modal.modal('hide');
    if (cropper) {
    canvas = cropper.getCroppedCanvas({
     width: 160,
      height: 160,
     });

      imageggggggg = canvas.toDataURL("image/png");
    image_ary.push(imageggggggg);
    preview_image();

       }



     });



    $('[data-toggle="tooltip"]').tooltip();

 input.addEventListener('change', function (e) {
      console.log("on change");

      var files = e.target.files;
      if (typeof ($(this)[0].files) != "undefined") {
                var size = parseFloat($(this)[0].files[0].size / 1024).toFixed(2);
            
             var ext = $(this).val().split('.').pop().toLowerCase();
          if($.inArray(ext, ['gif','png','jpg','jpeg']) != -1) { 
          if(size<5000){   
            var done = function (url) {
               input.value = '';
               image.src = url;
               $alert.hide();
               $modal.modal('show');
             };
             var reader;
             var file;
             var url;
             if (files && files.length > 0) {
               file = files[0];
              if (URL) {
               done(URL.createObjectURL(file));
                }else if (FileReader){
                reader = new FileReader();
                reader.onload = function (e) {
                  done(reader.result);
                };
               reader.readAsDataURL(file);
             }
            }
          }else{
         alert("Image size is large")
        }
      }
    
       
   }
    });
 $modal.on('shown.bs.modal', function () {
      console.log("show modal");
      console.log(image);
      cropper = new Cropper(image, {
        aspectRatio: 1,
        viewMode: 0,

        background: false,

        minContainerWidth: 200,

        minContainerHeight: 100,

        minCanvasWidth: 1,

        minCanvasHeight: 1,

        minCropBoxWidth: 1,

        minCropBoxHeight: 1,
      });

      console.log("cropper");
    }).on('hidden.bs.modal', function () {
      console.log("hide");
      cropper.destroy();
      cropper = null;
    });
  });
</script>

<script type="text/javascript">
    
function preview_image(){
    

 $('#profile_image ').attr('src', image_ary[0]);

 $("#my_image").val(image_ary[0]);
 
    }




</script>


        <script>
//         function readURL(input) {
//     if (input.files && input.files[0]) {
//         var reader = new FileReader();

//         reader.onload = function (e) {
//             $('#preview_image').attr('src', e.target.result);
//             $("#imagemodal").modal();
//             crop_image();

//         }

//         reader.readAsDataURL(input.files[0]);
//     }
// }




// function crop_image(){
//   $image = $("#preview_image");
//       $image.cropper({
//         aspectRatio: 8 / 8,
//         done: function (data) {
//             console.log("dataaaaaaaa");
//             console.log(data);
//         }
//     });


  
// }

// $("#save_image").click(function(e){
//   $("#imagemodal").modal('hide');
//   e.preventDefault();
//    canvasData = $image.cropper('getCroppedCanvas');
   

//   var dataURL = canvasData.toDataURL();
//   $('#profile_image ').attr('src',dataURL);
//    $("#my_image").val(dataURL);
  
// })

//    $("#user_image1").change(function(){
//              if (typeof ($(this)[0].files) != "undefined") {
//                 var size = parseFloat($(this)[0].files[0].size / 1024).toFixed(2);
//                 if(size>5000){
//                 alert("Image size is large")
//                  }else{
//                    readURL(this);
//                  }
//         } else {
//           alert("This browser does not support HTML5.");
//             }
//         });
     
      
         $(document).ready(function () {
          $("form").validate({
          // debug: false,
              rules: {
              "user[first_name]": {required: true,minlength: 3,maxlength: 25},
              "user[last_name]": {required: true,minlength: 3,maxlength: 25},
              "user[password]": {required: true, minlength: 6},
              "Accept": {required: true},
              "user[password_confirmation]": {required: true, equalTo: "#user_password"}

              },
              messages:{

              "Accept": {
              required: "Please Accept Terms & Condition"
              },


              "user[first_name]": {
              pattern: "Please specify a valid first name"
              },
              "user[last_name]": {
              pattern: "Please specify a valid last name"
              },
              "user[image]": {
              accept: "Please select jpg/png/jpeg image file"
              },


              }
          });
             $('#dob').datepicker({
           autoclose: true,
            format: 'dd/mm/yyyy',
            endDate: '30/12/2006',
           
        });
      $('#dob').on('change', function () {
      
      if ($('#dob').val()!='') {
        var age = calculateAge(parseDate($('#dob').val()), new Date());
      
         $("#age").val(age);   
         $("#age1").val(age);   
      } else {
        $("#age").text('');   
        $("#age1").text('');   
      }      
      });

       $("#user_image").change(function(){
         readURL(this);
        });
   });

 function parseDate(dateStr) {
  var dateParts = dateStr.split("/");
  return new Date(dateParts[2], (dateParts[1] - 1), dateParts[0]);
}

//is valid date format
function calculateAge (dateOfBirth, dateToCalculate) {
    var calculateYear = dateToCalculate.getFullYear();
    var calculateMonth = dateToCalculate.getMonth();
    var calculateDay = dateToCalculate.getDate();

    var birthYear = dateOfBirth.getFullYear();
    var birthMonth = dateOfBirth.getMonth();
    var birthDay = dateOfBirth.getDate();

    var age = calculateYear - birthYear;
    var ageMonth = calculateMonth - birthMonth;
    var ageDay = calculateDay - birthDay;

    if (ageMonth < 0 || (ageMonth == 0 && ageDay < 0)) {
        age = parseInt(age) - 1;
    }
    return age;
}

function isDate(txtDate) {
  var currVal = txtDate;
  if (currVal == '')
    return true;

  //Declare Regex
  var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/;
  var dtArray = currVal.match(rxDatePattern); // is format OK?

  if (dtArray == null)
    return false;

  //Checks for dd/mm/yyyy format.
  var dtDay = dtArray[1];
  var dtMonth = dtArray[3];
  var dtYear = dtArray[5];

  if (dtMonth < 1 || dtMonth > 12)
    return false;
  else if (dtDay < 1 || dtDay > 31)
    return false;
  else if ((dtMonth == 4 || dtMonth == 6 || dtMonth == 9 || dtMonth == 11) && dtDay == 31)
    return false;
  else if (dtMonth == 2) {
    var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));
    if (dtDay > 29 || (dtDay == 29 && !isleap))
      return false;
  }

  return true;
}

        // function readURL(input) {
        // if (input.files && input.files[0]) {
        //   var reader = new FileReader();
        //    reader.onload = function (e) {
        //   $('#profile_image ').attr('src', e.target.result);
        //   }
        //    reader.readAsDataURL(input.files[0]);
        //  }
        // }
      </script>
  