
<div class="main_content">
        <!-- find -->
        <section class="top_heading text-center">
        <div class="container">
        <h3>User Settings</h3>
        </div>
        </section>
<section class="user_setting">
<div class="container">
          <%# flash.each do |key, value| %>
          <!-- <div class="alert alert-<%#= key %>"><%#= value %></div> -->
          <%# end %>
          <div class="row">
       <%#= current_user.id %>
          <%= form_for(current_user, as: "user", :html => { :id => "user_setting", :role => "form",:class=>"edit_pro"}, url: update_profile_path) do |f| %>
          <div class="col-sm-4 user_p">
          <div class="um-profile-photo" data-user_id="2">
          <a class="um-profile-photo-img" href="#">
           <% if current_user.image.present? %>
         <%= image_tag current_user.image,alt: 'Profile Image', :id => "profile_image" %>
                     <% else %>
                     <%= image_tag ("default_user.png"), :id => "profile_image", :alt => "Profile Image" %>
                     <% end %>
          </a>
          </div>
          <div id = "upload_tx">
          <div class="btn-bs-file">
          Edit Profile Picture
         <%= f.file_field :image1,:accept => "image/png,image/jpeg,image/jpg",:id=>"user_image"  %>
         <%= f.hidden_field :image,:id=>"my_image" %>
          </div>
          </div>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-7">
          <div class="forn_field1">
          <div class="form-group">
          <%= f.label :first_name, name: "First Name", :for => "name" %>
          <%= f.text_field :first_name, maxlength: 25,minlength: 3,:pattern=>"^[a-zA-Z \.\,\\-]*$", class: "form-control", :id => "first_name",  :placeholder => "First name",required:true  %>
          </div>
          <div class="form-group">
          <%= f.label :last_name, name: "Last Name", :for => "name" %>
          <%= f.text_field :last_name, maxlength: 25,minlength: 3,:pattern=>"^[a-zA-Z \.\,\\-]*$", class: "form-control", :id => "last_name",  :placeholder => "Last name",required:true  %>
          </div>
            <div class="form-group">
                        <%= f.label :username, name: "username", :for => "exampleInputEail1" %>
                    <%= f.text_field :username, class: "form-control", maxlength: 25,minlength: 3, :id => "exampleInputEmail1", :placeholder => "Enter your username", required:true %>
                     </div>
          <div class="form-group">
          <%= f.label :date_of_birth, name: "Date of Birth", :for => "age" %>
          <%= f.text_field :dob, class: "form-control", :id => "dob",  :placeholder => "DD/MM/YYYY",:value=> current_user.dob.present? ? current_user.dob.strftime('%d/%m/%Y') : "", required: true,:readonly=>"true"  %>
          </div>
          <div class="form-group">
          <%= f.label :age, name: "Age", :for => "agel" %>
          <%= text_field_tag :age1,"",  class: "form-control", :id => "age1", :placeholder => "24", disabled:true,required:true,:value=>current_user.age%>
           <%= f.hidden_field :age, class: "form-control", :id => "age" %>
          </div>
       
          <div class="clear"></div>
          <div class="form-group">
       
          <%= f.label :promote_your_social_media, name: "Social Media Link", :for => "exampleInputEmail1" %>
          <div class="row social">
         
          <div class="col-sm-10 face_link">
           <%= text_field_tag "url[facebook]","",:pattern => "https?:\/\/(www\.)?facebook\.com\/([A-Za-z0-9_](?:(?:[A-Za-z0-9_]|(?:\.(?!\.))){0,28}(?:[A-Za-z0-9_]))?)", class: 'form-control',:placeholder => "Facebook URL", :value=>@facebook.nil? ? "" : @facebook.url %>
          </div>
           <div class="col-sm-2">
           <%= image_tag ("facebookn.png") %>
          </div>
          </div>
            <div class="row social">
          <div class="col-sm-10">
          <%= text_field_tag "url[instagram]","" , class: "form-control", :id => "insta", :pattern => "https?:\/\/(www\.)?instagram\.com\/([A-Za-z0-9_](?:(?:[A-Za-z0-9_]|(?:\.(?!\.))){0,28}(?:[A-Za-z0-9_]))?)",:placeholder => "Instagram URL", :value=>@instagram.try(:url) %>

          </div>
           <div class="col-sm-2">
           <%= image_tag ("instan.png") %>
          </div>
          </div>
          <div class="row social">
          <div class="col-sm-10">
          <%= text_field_tag "url[twitter]","" , class: "form-control", :id => "insta", :pattern => "http(s)?://(.*\.)?twitter\.com\/[A-z 0-9 _]+\/?",:placeholder => "Twitter URL", :value=>@twitter.try(:url) %>

          </div>
           <div class="col-sm-2">
          <%= image_tag ("twittern.png") %>
          </div>
          </div>
          </div>
            <div class="clear"></div>
          <div class="form-group">
          <%= f.label :Promote_your_music, name: "Social Media Link", :for => "exampleInputEmail1" %>
          <div class="row social">
         
          <div class="col-sm-10 face_link">
           <%= text_field_tag "url[itune]","",:pattern => "https?:\/\/(www\.)?apple\.com\/([A-Za-z0-9_](?:(?:[A-Za-z0-9_]|(?:\.(?!\.))){0,28}(?:[A-Za-z0-9_]))?)", class: 'form-control',:placeholder => "Itune URL", :value=>@itune.nil? ? "" : @itune.url %>
          </div>
           <div class="col-sm-2">
           <%= image_tag ("itune.png") %>
          </div>
          </div>
            <div class="row social">
          <div class="col-sm-10">
          <%= text_field_tag "url[spotify]","" , class: "form-control", :id => "spotify", :pattern => "https?:\/\/(www\.)?open\.spotify\.com\/([A-Za-z0-9_](?:(?:[A-Za-z0-9_]|(?:\.(?!\.))){0,28}(?:[A-Za-z0-9_]))?)",:placeholder => "Spotify URL", :value=>@spotify.try(:url) %>

          </div>
           <div class="col-sm-2">
           <%= image_tag ("wifi.png") %>
          </div>
          </div>
          <div class="row social">
          <div class="col-sm-10">
          <%= text_field_tag "url[soundcloud]","" , class: "form-control", :id => "insta", :pattern => "http(s)?://(.*\.)?soundcloud\.com\/[A-z 0-9 _]+\/?",:placeholder => "Soundcloud URL", :value=>@soundcloud.try(:url) %>

          </div>
           <div class="col-sm-2">
          <%= image_tag ("cloud.png") %>
          </div>
          </div>
          </div>
          <% @back_url = session[:my_previous_url] %>
          <div class="cancel_bt">
          <%= link_to 'Cancel',@back_url, class: "btn cancel", :role => "button" %>
          <%= f.submit "Save", :class => "btn save" %>
          </div>
          </div>
          </div>
         
          </div>
         

          <% end %>
              <div class="password col-sm-7 col-sm-offset-5 ">
                <h2>Change Password <span class="lock_icon"><i class="fa fa-lock" aria-hidden="true"></i></span></h2>

                <%= form_for(current_user, as: "user", url:    update_password_path, :html => { :id => "edit_password", :role => "form",:class=>"edit_pro"},  method: "put",multipart: true ) do |f| %>

                <div class="form-group">
                <%= f.label :current_password, :for => "exampleInputPassword1" %>             
                <%= f.password_field :current_password,  class: "form-control", :id => "password",:value=>" ", :placeholder => "*********" %>
                </div>
                <div class="form-group">
                <%= f.label :new_password, :for => "exampleInputPassword1" %>             
                <%= f.password_field :password,:pattren=>"^(?=.[A-Za-z0-9])[\S]$", class: "form-control",  :id => "new_password", :placeholder => "*********" %>
                </div>
                <div class="form-group">
                <%= f.label :confirm_password, :for => "exampleInputPassword1" %>             
                <%= f.password_field :confirm_password,  class: "form-control", :id => "confirm_password", :placeholder => "*********" %>
                </div>
                <%= f.submit "Change Password", :class => "btn save change_p" ,:style => "width:auto;" %>

                <% end %>
                  </div>
                     </div>
                      </div>
                     </section>
        </div>
        <div id="imagemodal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>
          <img src="" id="preview_image">
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" id="save_image">save image</button>
      </div>
    </div>

  </div>
</div>

 <link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.css">

<script type="text/javascript">
      var image_ary = [];

  window.addEventListener('DOMContentLoaded', function () {
    var image = document.getElementById('preview_image');
    var input = document.getElementById('user_image');
    var $progress = $('.progress');
    var $progressBar = $('.progress-bar');
    var $alert = $('.alert');
    var $modal = $('#imagemodal');
    var cropper;
       document.getElementById('save_image').addEventListener('click', function () {  
      $modal.modal('hide');
    if (cropper) {
    canvas = cropper.getCroppedCanvas({
     width: 160,
      height: 160,
     });

      imageggggggg = canvas.toDataURL("image/png");
    image_ary.push(imageggggggg);
    preview_image();

       }



     });



    $('[data-toggle="tooltip"]').tooltip();



    input.addEventListener('change', function (e) {
      console.log("on change");

      var files = e.target.files;
      if (typeof ($(this)[0].files) != "undefined") {
                var size = parseFloat($(this)[0].files[0].size / 1024).toFixed(2);
            
             var ext = $(this).val().split('.').pop().toLowerCase();
          if($.inArray(ext, ['gif','png','jpg','jpeg']) != -1) { 
            
          if(size<5000){   
            var done = function (url) {
               input.value = '';
               image.src = url;
               $alert.hide();
               $modal.modal('show');
             };
             var reader;
             var file;
             var url;
             if (files && files.length > 0) {
               file = files[0];
              if (URL) {
               done(URL.createObjectURL(file));
                }else if (FileReader){
                reader = new FileReader();
                reader.onload = function (e) {
                  done(reader.result);
                };
               reader.readAsDataURL(file);
             }
            }
          }else{
         alert("Image size is large")
        }
      }
    
       
   }
  });
 $modal.on('shown.bs.modal', function () {
      console.log("show modal");
      console.log(image);
      cropper = new Cropper(image, {
        aspectRatio: 1,
        viewMode: 0,

        background: false,

        minContainerWidth: 200,

        minContainerHeight: 100,

        minCanvasWidth: 1,

        minCanvasHeight: 1,

        minCropBoxWidth: 1,

        minCropBoxHeight: 1,
      });

      console.log("cropper");
    }).on('hidden.bs.modal', function () {
      console.log("hide");
      cropper.destroy();
      cropper = null;
    });
  });
</script>

<script type="text/javascript">
    
function preview_image(){
    

 $('#profile_image ').attr('src', image_ary[0]);

 $("#my_image").val(image_ary[0]);
 
    }




</script>


        <script>
//         function readURL(input) {
         
       
//     if (input.files && input.files[0]) {
//         var reader = new FileReader();
      
//         reader.onload = function (e) {
//             $('#preview_image').attr('src', e.target.result);
//             $("#imagemodal").modal();
//             crop_image();

//         }

//         reader.readAsDataURL(input.files[0]);
//     }
// }




// function crop_image(){
//   $image = $("#preview_image");
//       $image.cropper({
//         aspectRatio: 8 / 8,
//         done: function (data) {
//             console.log("dataaaaaaaa");
//             console.log(data);
//         }
//     });


  
// }

// $("#save_image").click(function(e){
//   $("#imagemodal").modal('hide');
//   e.preventDefault();
//    canvasData = $image.cropper('getCroppedCanvas');
   

//   var dataURL = canvasData.toDataURL();
//   $('#profile_image ').attr('src',dataURL);
//    $("#my_image").val(dataURL);
  
// })

//    $("#user_image1").change(function(){

//              if (typeof ($(this)[0].files) != "undefined") {
//                 var size = parseFloat($(this)[0].files[0].size / 1024).toFixed(2);
//                if(size>5000){
//                 alert("Image size is large")
//                  }else{
//                    readURL(this);
//                  }
//         } else {
//           alert("This browser does not support HTML5.");
//             }
        
         
//         });

        $(document).ready(function () {
          $(document).on('keydown', '#password', function(e) {
           if (e.keyCode == 32) return false;
          });
           $(document).on('keydown', '#new_password', function(e) {
           if (e.keyCode == 32) return false;
          });
            $(document).on('keydown', '#confirm_password', function(e) {
           if (e.keyCode == 32) return false;
          });
        setTimeout(function(){ $("#password").val(''); }, 1000);
        $("#user_setting").validate({
           messages:{
          "url[facebook]": {
              pattern: "Please enter your facebook  url"
             },
          "url[instagram]": {
              pattern: "Please enter your instagram url"
             },
          "url[twitter]": {
              pattern: "Please enter your twitter url"
             },
          "user[first_name]": {
                    pattern: "Please specify a valid first name"
                },
          "user[last_name]": {
                    pattern: "Please specify a valid last name"
                },
 
            "user[image1]": {
              accept: "Please select jpg/png/jpeg image file"
              },
           }
        });
        $(".password form").validate({
        // debug: false,
            rules: {
              "user[current_password]": {required: true, minlength: 6},
              "user[password]": {required: true, minlength: 6},
              "user[confirm_password]": {required: true, equalTo: "#new_password"}
            },
            messages:{
            "user[password]": {
              required: "This field is required"
              },

            "user[confirm_password]": {
              required: "This field is required"
              },
              
            }
        });


          $('#dob').datepicker({

             autoclose: true,
            format: 'dd/mm/yyyy',
            // startDate: '30/12/1987',
            // endDate: '30/12/2006',
           startDate: '-90y',
           endDate: '-12y'
        });
        $('#dob').on('change', function () {
        
          if ($('#dob').val()!='') {
           
            var age = calculateAge(parseDate($('#dob').val()), new Date());
            $("#age").val(age);   
            $("#age1").val(age);   
          } else {
            $("#age").text('');   
            $("#age1").text('');   
            
          }      
        });
        });
          // function readURL(input) {
          // if (input.files && input.files[0]) {
          //   var reader = new FileReader();
          //    reader.onload = function (e) {
          //   $('#profile_image ').attr('src', e.target.result);
          //   }
          //    reader.readAsDataURL(input.files[0]);
          //  }
          // }
     
        function parseDate(dateStr) {
        var dateParts = dateStr.split("/");
        return new Date(dateParts[2], (dateParts[1] - 1), dateParts[0]);
        }

        //is valid date format
        function calculateAge (dateOfBirth, dateToCalculate) {
          var calculateYear = dateToCalculate.getFullYear();
          var calculateMonth = dateToCalculate.getMonth();
          var calculateDay = dateToCalculate.getDate();

          var birthYear = dateOfBirth.getFullYear();
          var birthMonth = dateOfBirth.getMonth();
          var birthDay = dateOfBirth.getDate();

          var age = calculateYear - birthYear;
          var ageMonth = calculateMonth - birthMonth;
          var ageDay = calculateDay - birthDay;
          if (ageMonth < 0 || (ageMonth == 0 && ageDay < 0)) {
          age = parseInt(age) - 1;
          }
          return age;
        }

        function isDate(txtDate) {
          var currVal = txtDate;
          if (currVal == '')
          return true;
          var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/;
          var dtArray = currVal.match(rxDatePattern); // is format OK?
          if (dtArray == null)
          return false;
           var dtDay = dtArray[1];
          var dtMonth = dtArray[3];
          var dtYear = dtArray[5];
          if (dtMonth < 1 || dtMonth > 12)
          return false;
          else if (dtDay < 1 || dtDay > 31)
          return false;
          else if ((dtMonth == 4 || dtMonth == 6 || dtMonth == 9 || dtMonth == 11) && dtDay == 31)
          return false;
          else if (dtMonth == 2) {
          var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));
          if (dtDay > 29 || (dtDay == 29 && !isleap))
          return false;
          }

          return true;
        }




        </script>
