<footer class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="father_logo">
           <%=  image_tag(asset_path("logo2.png")) %>
           
            <p>Reference site about Lorem Ipsum, giving information on
            its origins, as well as random Lipsum generate. Reference
            site about Lorem Ipsum, giving information on its origins,
            as well as a random Lipsum generator.
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="contact_us">
            <h2>Contact Us</h2>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Address: Reference site about Lorem Ipsum, giving information on its origins.</p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i> @fatehertime.com</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i> + 91 98989 89898</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="contact_us social_link">
          <h2>Social Media</h2>
          <p>
          <span><a href="https://www.facebook.com/" target="_blank"> <%=  image_tag(asset_path("facebook.png")) %></a></span>
          <span><a href="https://www.flickr.com/" target="_blank"> <%=  image_tag(asset_path("social2.png")) %></a></span>
              <span><a href="https://rss.com/" target="_blank"> <%=  image_tag(asset_path("social3.png")) %></a></span>
              <span><a href="https://twitter.com/" target="_blank"> <%=  image_tag(asset_path("social4.png")) %></a></span>
              <span><a href="https://vimeo.com" target="_blank"> <%=  image_tag(asset_path("social5.png")) %></a></span>
         
          </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="footer_link">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <% unless(current_user.present?) %>
        <li><%= link_to "Become a Distributor", new_user_registration_path(distributor: 'true') %></li>
        <% end %>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
  </div>
<!--footer end here-->  
<!--<script src="js/jquery.js" type="text/javascript"></script>-->
 
 <script type="text/javascript">
  $(document).ready(function() {

  $(".toggle-accordion").on("click", function() {
    var accordionId = $(this).attr("accordion-id"),
      numPanelOpen = $(accordionId + ' .collapse.in').length;
    
    $(this).toggleClass("active");

    if (numPanelOpen == 0) {
      openAllPanels(accordionId);
    } else {
      closeAllPanels(accordionId);
    }
  })

  openAllPanels = function(aId) {
    console.log("setAllPanelOpen");
    $(aId + ' .panel-collapse:not(".in")').collapse('show');
  }
  closeAllPanels = function(aId) {
    console.log("setAllPanelclose");
    $(aId + ' .panel-collapse.in').collapse('hide');
  }
     
});
 </script>