<%= form_for([:admin, @genre], html: { class: 'form-horizontal genre' }) do |f| %>
  <% if @genre.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@genre.errors.count, "error") %> prohibited this genre from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @genre.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name,:required => true, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :image,:required => true, class: 'control-label col-md-2' %>
    <div class="col-md-10">
    <%# debugger %>
    <% if @genre.id.nil? %>
      <%= f.file_field :image,:required => true,accept: "image/*" %>
      <%else%>
       <%= f.file_field :image,accept: "image/*" %>
       <img id="blah" src="<%=@genre.image%>" class= "form-control img-thumbnail" />
      <%end%>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :icon_image, class: 'control-label col-md-2' %>
    <div class="col-md-10">
    <% if @genre.id.nil? %>
      <%= f.file_field :icon_image,:required => true,accept: "image/*" %>
      <%else%>
       <%= f.file_field :icon_image,accept: "image/*" %>
        <img id="blah" src="<%=@genre.icon_image%>" class= "form-control img-thumbnail" />
      <%end%>
    </div>
  </div>
  <!-- <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%#= f.label :status, for: nil do %>
        <%#= f.check_box :status %>
        <%#= Genre.human_attribute_name(:status) %>
      <%# end %>
    </div>
  </div> -->
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <% if(@genre.name!='') %>
     <%= link_to 'Show', [:admin, @genre], class: 'btn btn-default',style:"margin-top: 11px;
        margin-left: 20px;" %>
        <% end %>
     <%= link_to 'Back', admin_genres_path, class: 'btn btn-default',style:"margin-top: 11px;
        margin-left: 20px;" %>
        
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $("#new_genre").validate({
    messages:{
    "genre[image]": {
                    accept: "Please select an image file"
                },
    "genre[icon_image]": {
                    accept: "Please select an image file"
                },
          }
                
  })

</script>