<div class="page-header">
  <h1>Listing genres</h1>

</div>
  <%= link_to 'New Genre', new_admin_genre_path, class: 'btn btn-primary', style: "float:right;" %>

<table class="table table-responsive table-hover table-bordered  table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Image</th>
     
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.id %></td>
        <td><%= genre.name %></td>
         <td><%=image_tag genre.image ,alt: '',size: "46x46",style: "margin-top: 7px;"%></td>
          <td><%= link_to 'View', [:admin, genre], class: 'btn btn-default btn-xs' %><%= link_to 'Edit', edit_admin_genre_path(genre), class: 'btn btn-default btn-xs',style: "margin-left: 7px;" %>
<%= link_to 'Destroy', [:admin, genre], method: :delete, data: { confirm: 'Are you sure? If yes then all albums and  songs will be deleted blongs to this genre ' }, class: 'btn btn-xs btn-danger',style: "margin-left: 7px;" %>
<%#= link_to 'Destroy', [:admin, genre], method: :delete, data: { confirm: 'Are you sure?' },style: "margin-left: 7px;" ,class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @genres.blank?%>
<i><span style="font-size: 25px; margin-left: 38%;">No Genre Found</span></i>
<%end%>
<div class="digg_pagination">
   
    <%= will_paginate @genres, :container => false %>
  </div>
