<p id="notice"><%#= notice %></p>
 <div class="main-container" style="margin-top: 100px;">
<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @genre.name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Image:</strong></dt>

  <dd> <%if @genre.image.present?%>
         <%=image_tag @genre.image ,alt: '',class: "img-rounded img-responsive",:size => "100x200" %>
         <%else%>
         <%= image_tag "default_user.png",class: "img-img-rounded img-responsive",:size => "380x500"%>
         <%end%></dd>
</dl>

<!-- <dl class="dl-horizontal">
  <dt><strong>Status:</strong></dt>
  <dd><%= @genre.status %></dd>
</dl> -->

<%= link_to 'Edit', edit_admin_genre_path(@genre), class: 'btn btn-default' %>
<%= link_to 'Back', admin_genres_path, class: 'btn btn-default' %>
</div>