<%= form_for([:admin, @offer], html: { class: 'form-horizontal offer' }) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @offer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :title,:required => true, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :description,:required => true, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :offer_prize, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :offer_prize,:required => true,:pattern=>"[0-9.]+", class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :points,:required => true, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :points,:required => true, :pattern=>"[0-9.]+", class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :offer_type, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :offer_type, class: 'form-control' %>
    </div>
  </div>
  <!-- <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%#= f.label :status, for: nil do %>
        <%##= Offer.human_attribute_name(:status) %>
      <%# end %>
    </div>
  </div> -->
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
   <% if(@offer.title!='') %>
        <%= link_to 'View', [:admin, @offer], class: 'btn btn-default' ,style:"margin-top: 11px;
        margin-left: 20px;"%>
           <% end %>
   <%= link_to 'Back', admin_offers_path, class: 'btn btn-default',style:"margin-top: 11px;
        margin-left: 20px;" %>
     
     </div>
  </div>
<% end %>
<script type="text/javascript">
  $("#new_offer").validate({
    messages:{
    "offer[points]": {
                    pattern: "Please enter numeric value"
                },
      "offer[offer_prize]": {
                    pattern: "Please enter numeric value"
                },
   
          }
                
  })

</script>