<div class="page-header">
  <h1>Listing offers</h1>
</div>

<%= link_to 'New Offer', new_admin_offer_path, class: 'btn btn-primary' , style: "float:right;"%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Offer prize</th>
      <th>Points</th>
      <th>Offer type</th>
      <!-- <th>Status</th> -->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.title %></td>
        <td><%= offer.description %></td>
        <td><%= offer.offer_prize %></td>
        <td><%= offer.points %></td>
        <td><%= offer.offer_type %></td>
       <!--  <td><%#= offer.status %></td> -->
        <td><%= link_to 'View', [:admin, offer], class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_admin_offer_path(offer), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Destroy', [:admin, offer], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

 <%if @offers.blank?%>
<i><span style="font-size: 25px; margin-left: 38%;">No Genre Found</span></i>
<%end%>
<div class="digg_pagination">
   
    <%= will_paginate @offers.paginate(:page => params[:page]), :container => false %>
  </div>
