<p id="notice"><%= notice %></p>
 <div class="main-container" style="margin-top: 100px;">
<dl class="dl-horizontal">
  <dt><strong>Title:</strong></dt>
  <dd><%= @offer.title %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Description:</strong></dt>
  <dd><%= @offer.description %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Offer prize:</strong></dt>
  <dd><%= @offer.offer_prize %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Points:</strong></dt>
  <dd><%= @offer.points %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Offer type:</strong></dt>
  <dd><%= @offer.offer_type %></dd>
</dl>



<%= link_to 'Edit', edit_admin_offer_path(@offer), class: 'btn btn-default' %>
<%= link_to 'Back', admin_offers_path, class: 'btn btn-default' %>
</div>