      <!-- main_content -->
      <div class="main_content">
         <!-- find -->
         <section class="top_heading text-center">
            <div class="container">
               <h3>Add Album</h3>
            </div>
         </section>
         <section class="addnew_album">
            <div class="container">
               <div class="row">
                 <%= form_for(:album , :html => {:class => "form-horizontal", :role => "form"}, url:  create_album_albums_path) do |f| %>
                  <div class="col-sm-6">
                     <div class="title_form">

                     <div class="form-group">
                            <%= f.label :album, :name => "Title of Album", :style => "color: #fff;", :for => "exampleInputEmail1" %>  
                              <%= f.text_field :title, required: true, class: "form-control", :id => "exampleInputEmail1", :placeholder => "Title of Album" %> 
                        
                           </div>
                           <div class="form-group">
                              <%= f.label :genre, :name => "Add Genre", :style => "color: #fff;", :for => "exampleInputEmail1" %>
                              
                          <div class="select_box client">
                          <%= f.select :genre_id, options_for_select([["Select your genre" , "" ]] +Genre.all.map{ |c| [c.name, c.id]},:selected=>current_user.try(:user_genre).try(:genre_id)), { class: ' form-control genre'} %>
                           </div>
                              <%#= f.hidden_field :genre_id, class: "form-control", :id => "exampleInputEmail1", :value => current_user.user_genre.genre.id %>
                                 <%= f.hidden_field :user_id,:value=> current_user.id %>
                            
                           </div>
                           <div class="form-group">
                              <%= f.label :description, name: "Description", :style => "color: #fff;", :for => "exampleInputPassword1" %>
                              <%= f.text_area :description, class: "form-control control2", :id => "exampleTextarea", :placeholder => "Description of Album" %>
                           </div>
                           <%= f.submit :Submit, class: "btn sign", :role => "button" %>
                      
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="drag">
                        <div class="upload-drop-zone" id="drop-zone">
                           <div class="up_load">
                               <%= image_tag("upload.png") %>
                           </div>
                           <p>Upload Cover</p>
                           <p>Picture</p>
                           <div class="form-horizontal" id="js-upload-form">
                              <%#= form_for( :user , :html => {:class => "form-horizontal", :role => "form"}, :id => "js-upload-form", url: @users_path) do |f| %>   
                              <%= f.label :image, class: "btn-bs-file btn btn-lg btn-primary brow" do %>
                              Upload
                                 <% end %>
                     <%= f.file_field :image1,  :accept => "image/png,image/jpeg",:id=>"album_image" %>
                       <%= f.text_field :image,required: true,:id=> "my_image"%>
                              </div>

                              <%# end %>
                        </div>

                        <div class="file_name">
                           <%= image_tag("christina.jpg",:id=>"selected_image")  %>
                           <p id="delete_image"  style="cursor:pointer"><span ><i class="fa fa-trash-o" aria-hidden="true"></i></span> Delete </p>
                        </div>
                     </div>
                  </div>
                    <% end%>
               </div>
            </div>
         </section>
      </div>
        <div id="imagemodal" class="modal fade" role="dialog">
  <div class="modal-dialog" >

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        
          <img src="" id="preview_image">
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" id="save_image">save image</button>
      </div>
    </div>

  </div>
</div>
<link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.css">

<script type="text/javascript">
  $('#imagemodal').on('show.bs.modal', function () {
       $(this).find('.modal-body').css({
              width:'auto', //probably not needed
              height:'auto', //probably not needed 
              'max-height':'100%'
       });
  });


      var image_ary = [];

  window.addEventListener('DOMContentLoaded', function () {
    var image = document.getElementById('preview_image');
    var input = document.getElementById('album_image');
    var $progress = $('.progress');
    var $progressBar = $('.progress-bar');
    var $alert = $('.alert');
    var $modal = $('#imagemodal');
    var cropper;
       document.getElementById('save_image').addEventListener('click', function () {  
      $modal.modal('hide');
      if (cropper) {
       canvas = cropper.getCroppedCanvas({
     width: 160,
      height: 160,
     });
    
      imageggggggg = canvas.toDataURL("image/png");
    image_ary.push(imageggggggg);
    preview_image();

       }



     });



    $('[data-toggle="tooltip"]').tooltip();



    input.addEventListener('change', function (e) {
      console.log("on change");

      var files = e.target.files;
      if (typeof ($(this)[0].files) != "undefined") {
              
               
      var ext = $(this).val().split('.').pop().toLowerCase();
                
      if($.inArray(ext, ['gif','png','jpg','jpeg']) != -1) {    
                var size = parseFloat($(this)[0].files[0].size / 1024).toFixed(2);
                 // }else{
             if(size<5000){
         var done = function (url) {
               input.value = '';
               image.src = url;
               $alert.hide();
               $modal.modal('show');
          };
             var image1 = new Image();
 
                //Set the Base64 string return from FileReader as source.
                image1.src = e.target.result;
                       
                //Validate the File Height and Width.
                image.onload = function () {
                    var height = this.height;
                    var width = this.width;
                  
                      // $('.modal-dialog').height(height)
                      // $('.modal-dialog').width(width)
                        
                    }  
             $(".cropper-container").hide("auto");
             var reader;
             var file;
             var url;
             if (files && files.length > 0) {
               file = files[0];
              if (URL) {
               done(URL.createObjectURL(file));
                }else if (FileReader){
                reader = new FileReader();
                reader.onload = function (e) {
                  done(reader.result);
                };
               reader.readAsDataURL(file);
             }
              $(".cropper-container").hide("auto");
            }
       }else{
        alert("Image size is large")
       }
     }
   }else{
    return false;
   }
    });
 $modal.on('shown.bs.modal', function () {
      console.log("show modal");
      console.log(image);
      cropper = new Cropper(image, {
        aspectRatio: 1,
        viewMode: 0,

        background: false,

        minContainerWidth: 200,

        minContainerHeight: 100,

        minCanvasWidth: 1,

        minCanvasHeight: 1,

        minCropBoxWidth: 400,

        minCropBoxHeight: 400,
      });

      console.log("cropper");
    }).on('hidden.bs.modal', function () {
      console.log("hide");
      cropper.destroy();
      cropper = null;
    });
  });
</script>

<script type="text/javascript">
    
function preview_image(){
    

 $('#selected_image ').attr('src', image_ary[0]);
$(".file_name").css('visibility',"visible");
 $("#my_image").val(image_ary[0]);
 $("#album_image").val(image_ary[0]);

    }




</script>


<script>
 
  $(".file_name").css('visibility',"hidden");
// function readURL(input) {
//     if (input.files && input.files[0]) {
//         var reader = new FileReader();

//         reader.onload = function (e) {
//             $('#selected_image ').attr('src', e.target.result);
//               $(".file_name").css('visibility',"visible");
//         }

//         reader.readAsDataURL(input.files[0]);
//     }
// }
$("#delete_image").click(function(){
  $('#selected_image ').attr('src', "");
  $("#album_image").val('');
  $(".file_name").css('visibility',"hidden");
  
 })
 $(".addnew_album form").validate({
    debug: false,
    rules: {
    "album[description]": {minlength: 3,maxlength: 150},
    "album[image]": {required: true},
    "album[genre_id]": {required: true},

  },
messages:{
 
   "album[image1]": {
                    accept: "Please select png ,jpg or jpeg file"
                   },
                 
    }
});

    
</script>

      



<style>

   #preview_image {

      max-width: 100%;

    }

  </style>

<script type="text/javascript">

</script>