      <!-- end header part here -->
      <!-- main_content -->
      <div class="main_content">
         <!-- find -->
         <section class="top_heading text-center">
            <div class="container">
                <h3><span class="album_n"><a href="add_album.html"><%= link_to 'Add New Album', add_album_albums_path %></a></span>My Albums</h3>
            </div>
         </section>
         <section class="album_gallery">
            <div class="container">
               <ul class="gallery_list">
               <% @albums.each do |a| %>
                  <li>
                     <%= link_to  album_songs_album_path(a.id) do%>
                         <%= image_tag(a.image) %>
                        <div class="overlay">
                           <div class="text">
                              <h4>Album</h4>
                              <h3><%= a.title %></h3>
                              <p><%= a.description %>
                              </p>
                           </div>
                        </div>
                     <% end %>
                  </li>
                  <%end%>
                  
                  <li><%= link_to (image_tag ("album.png")), add_album_albums_path %>
                  </li>
               </ul>
            </div>
         </section>
      </div>

      <script src="js/jquery.js" type="text/javascript"></script>
      <script src="js/bootstrap.js" type="text/javascript"></script>
      <script src="js/owl.carousel.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
