<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
      <!-- main_content -->
      <div class="main_content">
         <!-- find -->
         <section class="top_heading text-center">
            <div class="container">
            
               <h3><%=  @album.title %></h3>
            </div>
         </section>
         <section class="music_player">
            <div class="container">
               <div class="row">
                  <div class="col-sm-4 rep">
                     <%= image_tag (@album.image) %>
                  </div>
                  <div class="col-sm-8 pub_txt">
                     <p>
                      <%= @album.description %>
                     </p>
                     <%= link_to  @album.title, @root_path, class: "btn hip", :role => "button",:style => "width:auto;" %>
                     </br>
                      <%#= image_tag ("player.png"), :class => "republic_palyer" %>
                      <div class="album_player">
                       <% if @songs.present? %>
                        <div class="album_details">

                          <p><%= @album.title %></p>
                          <p class="song_name"></p>
                         <!--  <p class="time_play">00:04/2:00</p> -->
                          <div class="song_like">
                              <span class="total_like"></span>
                              <span  class="total_view"></span>
                          </div>
                        </div>
                        
                        <div class="player_mus">

                          <audio controls="controls"  id="audio_player" src="<%= @songs[0].file %>"></audio>
                        </div>
                        <div class="music_list">
                          <ul  id="playlist">
                          <% k = 0 %>
                          <%# debugger %>
                          <% @songs.each do |s| %>
                        <%# debugger %>

                            <% k = k+1 %>
                            <li ><b><%= k %></b> <span data-id="<%= s.file %>" data-name="<%= s.title %>" like="<%= s.favourites.count %>" style="cursor:pointer" view="<%= RecentlyPlay.where(:song_id=>s.id).count %>"><%= s.title  %></span>
                          
                            <%= form_for(s , :html => {:class => "edit_pro add_song",:id=>"song#{s.id}", :width => '100%',:style=>"display:none;",  :role => "form"}, url:"/songs/#{s.id}") do |f| %><%= f.text_field :title,:placeholder => "Title of Song" %> <%= f.submit :Save, class: "btn", :role => "button",:style=>"background:#f73974;color:#fff;" %> <%end%>
                            <%# if s.favourites.count >0 %>
                            <div class="icons-right">
                                <span><i class="fa fa-heart" aria-hidden="true"></i> <%= s.favourites.count %></span>
                             <span> <i class="fa fa-eye" aria-hidden="true"></i><%= RecentlyPlay.where(:song_id=>s.id).count %></span>
                             <span> <i class="edit fa fa-pencil" aria-hidden="true" id="<%= s.id%>" style="margin-left: 5px;cursor: pointer;">Edit</i></span>
                              </div>
                               <%# end %>
                               
                            </li>

                          <%end%>
                          </ul>
                        </div>
                        <% else %>
                        <h2>No song available</h2>
                        <% end %>
                      </div>
                     <a data-target = "#squarespaceModal5" data-toggle = "modal" class="btn registerr" style="width: 181px;">Upload Songs</a>
                  </div>
               </div>
            </div>
         </section>
      </div>
      <audio id="audio"></audio>
      <!----popup sign up----->	  
      <div class="modal fade" id="squarespaceModal5" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
         <div class="modal-dialog form_top1">
            <div class="modal-content">
               <div class="modal-body">
                  <!-- content goes here -->
                  <div class="title_form">
                     <%= form_for( :song , :html => {:class => "edit_pro add_song", :width => '100%',  :role => "form"}, url:  add_song_path) do |f| %>

                        <h2 class="ad_song">Add Song</h2>
                        <div class="form-group">
                           <%= f.label  :Title, name: "Title of Song", :style => "color: #fff;", :for => "exampleInputEmail1" %>
                           <%= f.text_field :title, class: "form-control", :id => "exampleInputEmail1", :placeholder => "Title of Song" %>
                        </div>
                        <div class="form-group">
                           <%= f.label  :description, name: "Description", :style => "color: #fff;", :for => "exampleInputEmail1" %>
                           <%= f.text_area :description, class: "form-control control2", :id => "exampleTextarea", :placeholder => "Description of Song" %>
                        </div>
                         <div class="form-group">
                           <%= f.label  :file, name: "Description", :style => "color: #fff;", :for => "exampleInputEmail1" %>
                           <%= f.file_field :file, :id => "file1", :placeholder => "Title of Song", :accept =>"audio/*" %>
                           <%= f.hidden_field :album_id,:value=>params[:id] %>
                        </div>
                           <div class="form-group">
                           <%#= f.label  :duration, name: "duration", :style => "color: #fff;", :for => "exampleInputEmail1" %>
                           <%= f.hidden_field :duration, :id => "duration", :placeholder => "Title of Song" %>
                           <%= f.hidden_field :album_id,:value=>params[:id] %>
                        </div>
                          <%= f.submit :Submit, class: "btn sign", :role => "button" %>
                        <%#= link_to 'Submit',"", class: "btn sign", :role => "button" %>
                        <%= link_to 'Cancel', "", class: "btn sign cancel1", :role => "button" %>
                     <% end %>
                  </div>
               </div>
            </div>
         </div>
      </div>
<script>
$(".add_song").validate({
debug: false,
rules: {
"song[description]": {minlength: 3,maxlength: 150},
"song[title]": {required: true},
"song[file]": {required: true},
},
messages:{
 
 "song[file]": {
                    accept: "Please select mp3 file"
                },
                
  
}
});

$(document).ready(function(){
  $(".edit").click(function(){
    var id = $(this).attr("id");
    // $(this).css("display","none");
    $("#song"+id).css("display","block");
    $("#title"+id).css("display","none");
  })
    var audio;
       $("#playlist li").click(function () {
          //HERE you need to stop if a song is currently playing
          // if (audio) {
          //     audio.stop();
          // }
          songname =$.trim('<%= request.base_url %>'+$(this).attr('data-id'));
         $(".song_name").html($(this).attr('data-name'))
         $(".total_like").html( '<i class="fa fa-heart" aria-hidden="true"></i>'+$(this).attr('like'))
           $(".total_view").html( ' <i class="fa fa-eye" aria-hidden="true"></i>'+$(this).attr('view'))
      
          audio = $('#audio_player').attr('src',songname);
          $('#audio_player').get(0).play();
         
       }); 

})


$("#audio").on("canplaythrough", function(e){
    var seconds = e.currentTarget.duration;
    var duration = moment.duration(seconds, "seconds");
   
    var time = "";
    var hours = duration.hours();
    if (hours > 0) { time = hours + ":" ; }
    var secondsw =  duration.minutes() * 60;
    time2 =  secondsw + duration.seconds();
    // time1 = time + duration.minutes() + ":" + duration.seconds();
    $("#duration").val(time2);
   
    URL.revokeObjectURL(objectUrl);
});

$("#file1").change(function(e){
    var file = e.currentTarget.files[0];
   objectUrl = URL.createObjectURL(file);
    $("#audio").prop("src", objectUrl);
});

     
</script>
   
   