<div class="page-header">
  <h1>Editing point_info</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:admin, @point_info], class: 'btn btn-default' %>
<%= link_to 'Back', admin_point_infos_path, class: 'btn btn-default' %>
