<div class="page-header">
  <h1>Listing Point Infos</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @point_infos.each do |point_info| %>
      <tr>
        <td><%= point_info.title %></td>
        <td><%= point_info.description %></td>
        
        <td><%= link_to 'View', [:admin, point_info], class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_admin_point_info_path(point_info), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Destroy', [:admin, point_info], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Point info', new_admin_point_info_path, class: 'btn btn-primary' %>
