<p id="notice"><%#= notice %></p>
<dl class="dl-horizontal">
  <dt><strong></strong></dt>
  <dd><%#= @point_info.status %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong></strong></dt>
  <dd><%#= @point_info.status %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong></strong></dt>
  <dd><%#= @point_info.status %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong></strong></dt>
  <dd><%#= @point_info.status %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong></strong></dt>
  <dd><%#= @point_info.status %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong>Title:</strong></dt>
  <dd><%= @point_info.title %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Description:</strong></dt>
  <dd><%= @point_info.description %></dd>
</dl>



<%= link_to 'Edit', edit_admin_point_info_path(@point_info), class: 'btn btn-default' %>
<%= link_to 'Back', admin_point_infos_path, class: 'btn btn-default' %>
