
      <!-- main_content -->
      <div class="main_content">
         <!-- find -->
         <section class="top_heading text-center">
            <div class="container">
            
               <h3><%=  @album.title %></h3>
            </div>
         </section>
         <section class="music_player">
            <div class="container">
               <div class="row">
                  <div class="col-sm-4 rep">
                     <%= image_tag (@album.image) %>
                  </div>
                  <div class="col-sm-8 pub_txt">
                     <p>
                      <%= @album.description %>
                     </p>
                     <%= link_to 'Hip Hop', @root_path, class: "btn hip", :role => "button" %>
                     </br>
                      <%#= image_tag ("player.png"), :class => "republic_palyer" %>
                      <div class="album_player">
                        <div class="album_details">
                          <p>One Republic</p>
                          <p>Song name come here</p>
                          <p>00:04/2:00</p>
                        </div>

                          <audio controls="controls"  id="audio_player" src="<%= @songs[0].file %>"></audio>

                          <ul  id="playlist">
                          <% k = 0 %>
                          <%# debugger %>
                          <% @songs.each do |s| %>
                            <% k = k+1 %>
                          <li data-id="<%= s.file %>"><b><%= k %></b><%= s.title %><% if s.favourites.count >0 %>
                           <span><i class="fa fa-heart-o" style="color:#f73974"></i>
                           <%= s.favourites.count %>
                           <% end %>
                           </span>
                           </li>

                          <%end%>
                          </ul>
                      </div>
                     <a data-target = "#squarespaceModal5" data-toggle = "modal" class="btn registerr">Upload the Song</a>
                  </div>
               </div>
            </div>
         </section>
      </div>
      <!----popup sign up----->	  
      <div class="modal fade" id="squarespaceModal5" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
         <div class="modal-dialog form_top1">
            <div class="modal-content">
               <div class="modal-body">
                  <!-- content goes here -->
                  <div class="title_form">
                     <%= form_for( :song , :html => {:class => "edit_pro add_song", :width => '100%',  :role => "form"}, url:  add_song_path) do |f| %>

                        <h2 class="ad_song">Add Song</h2>
                        <div class="form-group">
                           <%= f.label  :Title, name: "Title of Song", :style => "color: #fff;", :for => "exampleInputEmail1" %>
                           <%= f.text_field :title, class: "form-control", :id => "exampleInputEmail1", :placeholder => "Title of Song" %>
                        </div>
                        <div class="form-group">
                           <%= f.label  :description, name: "Description", :style => "color: #fff;", :for => "exampleInputEmail1" %>
                           <%= f.text_area :description, class: "form-control control2", :id => "exampleTextarea", :placeholder => "Description of Song" %>
                        </div>
                         <div class="form-group">
                           <%= f.label  :file, name: "Description", :style => "color: #fff;", :for => "exampleInputEmail1" %>
                           <%= f.file_field :file, :id => "exampleInputEmail1", :placeholder => "Title of Song", :accept =>"audio/*" %>
                           <%= f.hidden_field :album_id,:value=>params[:id] %>
                        </div>
                          <%= f.submit :Submit, class: "btn sign", :role => "button" %>
                        <%#= link_to 'Submit',"", class: "btn sign", :role => "button" %>
                        <%= link_to 'Cancel', "", class: "btn sign cancel1", :role => "button" %>
                     <% end %>
                  </div>
               </div>
            </div>
         </div>
      </div>
<script>
$(".add_song").validate({
debug: false,
rules: {
"song[description]": {minlength: 3,maxlength: 50},
"song[title]": {required: true},
"song[file]": {required: true},
},
messages:{
 
 "song[file]": {
                    accept: "Please select mp3 file"
                },
                
  
}
});

$(document).ready(function(){
    var audio;
       $("#playlist li").click(function () {
          //HERE you need to stop if a song is currently playing
          // if (audio) {
          //     audio.stop();
          // }
          songname =$.trim('<%= request.base_url %>'+$(this).attr('data-id'));
         
          audio = $('#audio_player').attr('src',songname);
          $('#audio_player').get(0).play();
         
       }); 

})
     
</script>
   
   