
      <!-- end header part here -->
      <!-- main_content -->
      <div class="main_content">
         <!-- find -->
         <section class="top_heading text-center">
            <div class="container">
               <h3>My Profile</h3>
            </div>
         </section>
         <section class="my_profilee">
            <div class="profile_box">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-5">
                        <div class="profile_left">
                           <h1>Inna</h1>
                           <p>16 October 1986 (31 years)</p>
                               <%= form_for( :user , :html => {:class => "inna_profile", :role => "form"}, url: @users_path) do |f| %> 
                              <div class="form-group">
                                 <%= f.label :music, :name => "Genre", :for => "exampleInputEmail1" %>
                                 <%= f.text_field :music, class: "form-control", :id => "exampleInputEmail1", :placeholder => "Electronic Dance Music" %>
                              </div>
                           <% end %>
                           <p><span class="pencil"><%= image_tag ("pencil.png") %></span>Edit Profile</p>
                        </div>
                     </div>
                     <div class="col-sm-7 profile_right">
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="graph">
            <div class="container">
               <div class="row">
                  <div class="col-lg-9">
                     <div class="anylatic">
                        <div class="anylatic_text">
                           <h2>My Analytics</h2>
                        </div>
                        <div class="anylatic_drop">
                           <div class="form-group">
                              <div class="select_box client">
                                 <select>
                                    <option>may, 2018</option>
                                    <option value="designer">apr, 2018</option>
                                    <option value="designer">mar, 2018</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                        <%= image_tag ("graph.png") %>
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <div class="social_box">
                        <h3>Social Media Likes</h3>
                        <div class="n_icons">
                           <div class="nicon_left">
                              <%= image_tag ("facebookn.png") %>
                           </div>
                           <div class="nicon_text">
                              <p class="black_text">Facebook</p>
                              <p class="grey">34,566 Likes</p>
                           </div>
                        </div>
                        <div class="n_icons">
                           <div class="nicon_left">
                              <%= image_tag ("instan.png") %>
                           </div>
                           <div class="nicon_text">
                              <p class="black_text">Instagram</p>
                              <p class="grey">14,526 Likes</p>
                           </div>
                        </div>
                        <div class="n_icons">
                           <div class="nicon_left">
                              <%= image_tag ("twittern.png") %>
                           </div>
                           <div class="nicon_text">
                              <p class="black_text">Twitter</p>
                              <p class="grey">2,355 Follow</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="clear"></div>
               </div>
            </div>
         </section>
      </div>
      <!-- start footer here-->

      <!-- end footer here-->
     
