@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}

#wrapper {
    padding-left: 0; 
}

#page-wrapper {
    width: 100%;        
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 11px 0px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #1a242f;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 61px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #222;
        /*background-color: #5A6B7D;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #1a242f !important;
    }
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: #fff;    
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}

.table{
  width: 100%;
  max-width: 100%;
}

 th {
    background-color: #296294;
    color: white;
    text-align: center;
border-spacing: 2em;
}

  td
  {
    text-align: center;
  }
  .alert{
  padding: 0px;
  }



.field{
 padding-left: 72.5%;
 margin-bottom: 1%;
  margin-top: -4%;

}
@media (max-width: 767px)
{
  .field{
 padding-left: 6%;
 margin-bottom: 1%;
  margin-top: -3%;

}
h1
{
  padding-right: 0px;    
  font-size: 22px;
  margin-top: 99px;


}
}

  input[type=text] {
    background-color: white;
}
.help-block{
  padding-left: 176px;
}

a {
    color: #eee;
    text-decoration: none;
}
th a:hover {
background: white;
text-decoration: none;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
    background-image: -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
    background-image: linear-gradient(to bottom, #296294 0%, #296294 100%);
}
.side-nav{
    background-color: #296294;
}
.navbar{
    border: 1px solid #296294;
}

 .upload-preview {
    margin: -89px;
    margin-left: 385px;
    margin-top: -134px;
    height: 66px;
    width: 66px;
}


.error{
  color: red;
  margin: 143px;
}

.img-thumbnail {
    padding: 0px;
    line-height: 1.428571429;
    background-color: #ededed;
    border: 0px solid #ddd;
    border-radius: 4px;
    max-width: 66px;
    height: 66px;
    margin-left: 14px;
  }

#BoxId_img, #keyboardInputlogo,var{
  display: none;
}
#myAudio{
     margin-left: 106px;
    margin-top: -64px;
    padding-bottom: 32px;
}

#new_word label {
    width: 150px;
}
#new_word .form-group {position: relative;width: 690px;}

/** 5/3/2018**/
.lesson_img {
    float: left;
    margin-right: 16px;
}

 .show_lesson .col-sm-6 h1 {
  margin: 0;
}
 .show_lesson .col-sm-3, {
  padding-top: 15px;
} 
 .show_lesson .col-sm-3 .field {
  margin-top: 0px;
}
.unit_list .field {
    padding-left: 0;
}
.field{
  margin-top:0px;
}
#search {
    height: 29px;
}
.text-muted {
    margin: 0;
}
.unit_show_page .field {
    padding-left: 0;
    float: left;
}
/** 5/3/2018**/

.page-header.text-muted
 {
    padding: 35px 0 5px 0;
}
.well a 
{
    margin-bottom: 10px;
}
.well .btn.btn-success 
{
    margin: 15px 0 10px 0;
}
.detail_sec img
 {
    min-height: 170px;
    height: 171px;
    width: 100%;  
}
.green_btn {
    position: absolute;
    right: -125px;
    top: 5px;
}
#arabic_options, #english_options {
    min-height: 60px;
    background: #fff;
    overflow-y: scroll;
    height: 60px;
}