
<div class="col-lg-10" style="width: 78%;">
<%= form_for([:admin, @user],html: {class: "form-horizontal edit_user"}) do |f| %>

  <div class="form-group">

      <%= f.label :first_name,class: "control-label col-sm-2" %>
      <div class="col-md-10">
    <%= f.text_field :first_name,class: "form-control",style: "max-width: 500px;",required: true, maxlength: "50" %>
    </div>
    </div>
       <div class="form-group">
        <%= f.label :last_name,class: "control-label col-sm-2" %>
           <div class="col-md-10">
        <%= f.text_field :last_name, :class => 'form-control', :placeholder=>"Last Name",:required => true, maxlength: 25,minlength: 3,:pattern=>"^[a-zA-Z \.\,\\-]*$",style: "max-width: 500px;"  %>
        </div>
        </div>
          <% unless params[:admin]  %>
         

        <div class="form-group">
        <%= f.label :email,class: "control-label col-sm-2" %>
           <div class="col-md-10">
        <%= f.text_field :email, :class => 'form-control', :id=> "email", :placeholder=>"Email",:required => true,style: "max-width: 500px;" %>
        </div>
         </div>
           
       
      <% if params[:artist] %>
        <div class="form-group">
         <%= f.label :dob,class: "control-label col-sm-2" %>
            <div class="col-md-10">
        <%= f.text_field :dob, :class => 'form-control date', :id=> "dob", :placeholder=>"Date Of Birth",:required => true,style: "max-width: 500px;" %>
        </div>
         
        </div>
        <% else %>
        <div class="form-group">
         <%= f.label :city,class: "control-label col-sm-2" %>
            <div class="col-md-10">
        <%= f.text_field :city, :class => 'form-control', :id=> "city", :placeholder=>"City",:required => true,style: "max-width: 500px;" %>
        </div>
         
        </div>
          <div class="form-group">
         <%= f.label :state,class: "control-label col-sm-2" %>
            <div class="col-md-10">
        <%= f.text_field :state, :class => 'form-control', :id=> "state", :placeholder=>"State",:required => true,style: "max-width: 500px;" %>
        </div>
         
        </div>
     
           <div class="form-group">
            <%= f.label :mobile,class: "control-label col-sm-2" %>
               <div class="col-md-10">
           <%= f.telephone_field :mobile, :class => 'form-control', :placeholder=>"Mobile Number",:required => true,:pattern=>"^(\\d|\\s)+$" ,maxlength: 11,minlength: 3,style: "max-width: 500px;" %>
           </div>
             
              </div>
                 <% end %>
         <% end %>
  <div class="form-group">
    <%= f.label :image,class: "control-label col-sm-2" %>
    <div class="col-md-10">
  <%= f.file_field :image,class: "file",value: @user.image, accept: "image/*"%>
  </div>
</div>
<% if(@user.present?) %>
<div class="form-group" style="padding-left: 16%;">
       <%if @user.image.present?%>
        <img id="blah" src="<%=@user.image%>" class= "form-control img-thumbnail" />
       
        <%end%>
     </div>
     <% end %>
      
  <div class="actions" style="padding-left: 16%;">
  <% if(@user) %>
    <%= f.submit "Update Now" ,class: "btn btn-success" %>
    <%= link_to 'View', [:admin, @user], class: "btn btn-info",style: "margin-top: 16px;" %>
      <%= link_to 'Back', admin_users_path, class: "btn btn-info",style: "margin-top: 16px;" %>
      <% else %>
       <%= f.submit "Submit" ,class: "btn btn-success" %>
      <% end %>
  </div>
<% end %>
<input type="hidden" id="user_id" value="<%= @user.id %>">
</div>
<style type="text/css">
  .img-thumbnail {
    padding: 0px;
    line-height: 1.428571429;
    background-color: #ededed;
    border: 0px solid #ddd;
    border-radius: 4px;
    max-width: 66px;
    height: 66px;
    margin-left: 14px;
  }
  .datepicker {
  margin-top: 55px;
}
</style>
<script async defer type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAWgTptnMkFX0qGYvrOlGux2Af_erw18zs&&libraries=places"></script>
<script type="text/javascript">
 
  $(document).ready(function(){

   
   var user_id = $("#user_id").val();
    $(".file").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });

 $('#dob').datepicker({
           autoclose: true,
            format: 'mm/dd/yyyy',
            endDate: '30/12/2006',
           
        });
       
      jQuery.validator.addMethod("matches", function(phone_number, element) {
         phone_number = phone_number.replace(/\s+/g, "");
          return this.optional(element) || phone_number.length > 9 && 
          phone_number.match(/^\d*[0-9](|.\d*[0-9]|,\d*[0-9])?$/);
      }, "<br />Please specify a valid phone number");
$(".edit_user").validate({

rules: {
"user[first_name]": {required: true,minlength: 3,maxlength: 25},
"user[last_name]": {required: true,minlength: 3,maxlength: 25},
"user[email]": {required: true, email: true,remote:"/admin/check_email?user_id="+user_id},

"user[city]": {required: true},

"user[mobile]": {matches: true},


},
messages:{
   "user[first_name]": {
                    pattern: "Please specify a valid first name"
                },
 "user[last_name]": {
                    pattern: "Please specify a valid last name"
                },
  "user[email]": {
                    remote: "Email already exist"
                },
   
  
  "user[mobile]": {
                    pattern: "Please specify a valid phone number"
                },

  "user[city]": {
                    pattern: "Please specify a valid city name"
                },
 "user[image]": {
                    accept: "Please select png or jpg file"
                },
                
  
}
});


});


  
</script>
