 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-0 main">

          <h1 class="page-header text-muted">DASHBOARD</h1>
<!-- Widgets -->
            <div class="row clearfix">
            <a role="button" href="admin/users">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                    <i class="fa fa-fw fa-user"></i>
                        </div>
                        <div class="content">
                            <div class="text">User<h4><%= User.where(:role=>"U").where(:admin=>false).count %></h4></a></div>
                            <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
              
                <a role="button" href="admin/users?artist=true">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-indigo hover-expand-effect">
                        <div class="icon">
                              <i class="fa fa-fw fa-user"></i>
                        </div>
                        <div class="content">
                            <div class="text">Artist<h4><%= User.where(:role=>"A").count %></h4></div>
                            <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                </a>
               
                
            </div>



<style type="text/css">
  .col-md-offset-0 {
    margin-left: 0%;
}
.col-md-10 {
    width: 100%;
}
.highcharts-background{
 box-shadow: "-1px 4px 10px 10px #888888;" 
}
h4{
padding-left: 20px;
}
.col-lg-3 {
    width: 25%;
}
</style>
<%  max = User.count + User.count + User.count %>






</div>

<style type="text/css">
    #wrapper {
    margin-top: -30px;   
}
.col-lg-4 {
    width: 24.333%;
}
</style>
<script type="text/javascript">
     window.onpopstate = function() {
    }; history.pushState({}, '');
</script>