<div class="page-header">
<% if @user.role=="U" %>
  <h1>Editing User</h1>
  <%else%>
   <h1>Editing Artist</h1>
  <%end%>
</div>

<%= render 'form' %>

<%#= link_to 'Show', [:admin, @user], class: 'btn btn-default' %>
<%#= link_to 'Back', admin_users_path, class: 'btn btn-default' %>
