<div class="row unit_list">
   <div class="col-sm-8 col-md-8">

<h1 class="text-muted">LISTING USERS</h1>
 
<div class="radio_top">
         <div class="custom_radio">
            <input type="radio" id="user" name="radio-group" checked>
             <label for="user">User</label>
         </div>
         <div class="custom_radio">
            <% if params[:artist].present? %>
             <input type="radio" id="artist" name="radio-group" checked>
             <% else %>
              <input type="radio" id="artist" name="radio-group" >
             <% end %>
             <label for="artist">Artist</label>
         </div>
      </div>
</div>

<div class="col-sm-4 col-md-4 align-right">

<div class="field">

   <%= form_for(:user,url: admin_users_path ,method: :get) do |f| %>
    <% if params[:artist].present? %>
   <%= hidden_field_tag :artist, true%>
   <%end%>
   <%= f.text_field :text,placeholder: "Search by name/email",style:"width: 173px;",:required=>true, id: "search",:value=> "#{ params[:user] ? params[:user][:text] : ''}"%>

   <%= f.submit "Search",class: "btn btn-primary"%>
   <% end %>
</div>
</div>
</div>
<table class="table table-responsive table-hover table-bordered  table-condensed">
  <thead>
    <tr>
       <th><%= sortable "first_name" %> <i class="fa fa-sort"></i></th>
           <th><%= sortable "last_name" %> <i class="fa fa-sort"></i></th>
         <th><%= sortable "email" %> <i class="fa fa-sort"></i></th>
      <th>Image</th>
       <% unless params[:artist].present? %>
      <th>City</th>
      <th>State</th>
      <th>Mobile</th>
     <% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
         <td><%= user.email %></td>
        <td>
       <%if user.image.present?%>
       <%=image_tag user.image ,alt: '',size: "46x46",style: "margin-top: 7px;"%>
         <%else%>
          <%=image_tag "default_user.png",alt: '',size: "46x46",style: "margin-top: 7px;"%>

         <%end%>
       </td>
          <% unless params[:artist].present? %>
        <td><%= user.city %></td>
        <td><%= user.state %></td>
        <td><%= user.mobile %></td>
       <% end %>
        <td><%= link_to 'View', [:admin, user], class: 'btn btn-default btn-xs' %></td>
        <td> <% if(user.role=='A') %>
              <%= link_to "Edit", edit_admin_user_path(user.id)+"?artist=true",title: 'Edit', class: 'btn btn-default btn-xs',:style=>"color:#337ab7"%>
              <% else %>
                <%= link_to "Edit",  edit_admin_user_path(user.id),title: 'Edit', class: 'btn btn-default btn-xs',:style=>"color:#337ab7"   %> 
              <% end %>
      </td>
        <td><%= link_to 'Destroy', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New User', new_admin_user_path, class: 'btn btn-primary' %>
<% if @users.blank?%>
<i><span style="font-size: 25px; margin-left: 38%;">No User Found</span></i>
<%end%>
<div class="digg_pagination">
   
    <%= will_paginate @users, :container => false %>
  </div>

<script>
$(document).ready(function(){
   $('#user').click(function(){
      window.location.href ='/admin/users';
   });
   $('#artist').click(function(){
      window.location.href = '/admin/users?artist=true';
   });
});
</script>