

<% if User.find_by_id(params[:id]).admin.present? %>

<%= link_to 'Back', "/admin/users/#{params[:id]}/edit?admin=true",class: "btn btn-info"%>

<% else %>
<% if @user.role == "A" %>
<%= link_to 'Back', "/admin/users?artist=true" ,class: "btn btn-info"%>

<%else%>
<%= link_to 'Back', admin_users_path(page: params[:page]) ,class: "btn btn-info"%>

<%end%>
<% end %>
<div class="well">
   <div class="row">
      <div class="col-sm-4 col-md-2">
         <%if @user.image.present?%>
         <%=image_tag @user.image ,alt: '',class: "img-rounded img-responsive",:size => "380x500" %>
         <%else%>
         <%= image_tag "default_user.png",class: "img-img-rounded img-responsive",:size => "380x500"%>
         <%end%>
      </div>
      <div class="col-sm-8 col-md-10">
         <% if @user.first_name.present? %>
        <span><h4>Name:</h4><%=@user.first_name%> <%=@user.last_name%></span>
         <%end%>
         <br/>
       
          <% if @user.city.present? %>
          <span><h4>City:</h4><%=@user.city%> </span>
          <%end%>
       
        <span><h4>Email:</h4><%=@user.email%> </span>
         <% if @user.mobile.present? %>
         <span><h4>Mobile:</h4><%=@user.mobile%> </span>  
             <%end%>
      </div>
   </div>
</div>
</div>
<style type="text/css">
   .glyphicon {  margin-bottom: 10px;margin-right: 10px;}
   small {
   display: block;
   line-height: 1.428571429;
   color: #999;
   }
   .back{
   margin-top: 12px;
   }
</style>

