<div class="main_content">
        <!-- find -->
        <section class="top_heading text-center">
        <div class="container">
        <h3>About Us</h3>
        </div>
        </section>
        <section class="user_setting">
        <div class="container">
          
        <div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-1 sidenav">
     <!--  <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p> -->
    </div>
    <div class="col-sm-10 text-left"> 
     
      <p>Tune Rewards – Free Money Music is the world’s first and only IOS music and audio streaming platform that pays users to listen to music uploaded by artists.</p><br>
      <p>We are currently in our beta phase and are looking for artists of all genres to upload their music! </p><br>
      <p>Here at Tune Rewards we take a different approach to streaming. Instead of trying to have the largest music catalog like Apple Music or Spotify, we realized that developing artists benefit most from high visibility and low competition. This is why Tune Rewards decided to limit the number of songs allowed in each genre to just 1000 and every 2 weeks, the songs are taken off the app and replaced with another 1000 songs uploaded by artists. What this does is increase traffic and visibility to artists on the app while also giving new artists the chance to be seen.</p><br>
      <p>To encourage people to discover the music, Tune Rewards converts plays and listens into points which can be spent within the apps marketplace on goods, services, and cash prizes. </p>
    </div>
    <div class="col-sm-9 sidenav">
     
    </div>
  </div>
</div>
          </div>

          </section>