<div class="main_content">
        <!-- find -->
        <section class="top_heading text-center">
        <div class="container">
        <h3>Contact Us</h3>
        </div>
        </section>
        <section class="user_setting">
        <div class="container">
          
        <div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-1 sidenav">
     <!--  <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p> -->
    </div>
    <div class="col-sm-10 text-left"> 
     
      <p class="text-center">If you want to sell your products on TuneRewards and get our users to see them featured on our offers page:</p><br>
      <p class="text-center"><b>partner@tunerewardsapp.com</b></p><br>

      <p class="text-center">For any other info:</p><br>
      <p  class="text-center"><b>info@tunerewardsapp.com</b></p><br>
    </div>
    <div class="col-sm-9 sidenav">
     
    </div>
  </div>
</div>
          </div>

          </section>