
 <div class="main_content">
      <!-- find -->
      <section class="top_heading text-center">
         <div class="container">
            <h3>forgot your password?</h3>
         </div>
      </section>
      <!-- start form area here -->            
      <section class="fotget">
         <div class="container">
            <div class="forget_new">
               <%= image_tag ("email.png") %>
               <div class="text-center retrive">
                  <p>Enter your email address to retrive</p>
                  <p>your password?</p>
               </div>
               <form class="edit_pro">
                  <%= form_for(:user, :html => {:class => "edit_pro", :role => "form" }, url: @forgetpassword2_path) do |f| %>
                  <div class="form-group">
                     <%= f.label :Email_address, :style => "color: #fff;", :for => "exampleInputEmail1" %>
                     <%= f.email_field :email, :class => "form-control", :id => "exampleInputEmail1", :placeholder => "Enter your email address" %>
                  </div>
                  <%= link_to 'Submit', @root_path, :class => "btn sign", :role => "button" %>
               <% end %>
            </div>
         </div>
      </section>
      <!----popup sign in----->
      <div class="modal fade" id="squarespaceModal3" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
         <div class="modal-dialog form_top">
            <div class="modal-content">
               <div class="modal-header close_head">
                  <button type="button" class="close custome" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
               </div>
               <div class="modal-body">
                  <!-- content goes here --> 

        <%= render "/layouts/popup" %>
    
    <script src="js/jquery.js" type="text/javascript"></script>
      <script src="js/bootstrap.js" type="text/javascript"></script>
      <script src="js/owl.carousel.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
     
     <script>
         $("#face_book_signup").click(function(){
       $('#squarespaceModal3').hide();
       $('#squarespaceModal4').show();
       $('#squarespaceModal4').modal('show');
         });
          $(".loginPopup").click(function(){
       $('#squarespaceModal4').hide();
       $('#squarespaceModal3').show();
       $('#squarespaceModal3').modal('show');
         });
      </script>
   </body>
</html>
               