<div class="main_content">
        <!-- find -->
        <section class="top_heading text-center">
        <div class="container">
        <h3>How it works</h3>
        </div>
        </section>
        <section class="user_setting">
        <div class="container">
          
        <div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-1 sidenav">
     <!--  <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p> -->
    </div>
    <div class="col-sm-10 text-left"> 
     <h2>Listeners:</h2>

   <ul style="list-style-type:square">
        <li>Tune Rewards gives you the oppurtunity to earn up to $5 per day for discovering and reviewing new music. </li>
        <li>Users earn points for listening to and reviewing songs, these points can then be redemmed for amazon giftcards and in the future can be redeemed for good, services, and experiences</li>
        <li>Every two weeks you can enjoy a new catalog of tunes which will replace the previous music on the app – Found an artists you love but there music is about to be replaced? No worries. All artists are able to directly link their social media and other streaming accounts directly into their artists profile so you can join their journey as their popularity rises. </li>
        <li>Connect with your friends and compete to see who can earn the most</li>
  </ul>  
    <h2>Artists:</h2>

   <ul style="list-style-type:square">
        <li>Upload your music and get the recognition you deserve. With a limit on the amount of music allowed before a new catalog is released,  Tune Rewards is the best streaming platform guaranteed to boost your exposure and get you more fans and listeners.</li>
        <li>Market yourself: With Tune Rewards, you can connect your Instagram, Twitter and Facebook accounts directly onto the app so fans can find you more easily</li>
        <li>Promote your music: You can also connect your Spotify, Apple Music, and Soundcloud profiles directly onto your account </li>
        <li>The best part? It’s all FREE</li>
  </ul> 
    </div>
    <div class="col-sm-9 sidenav">
     
    </div>
  </div>
</div>
          </div>

          </section>