
      <!-- main_content -->
      <div class="main_content">
      <!-- find -->
      <section class="banner">
         <div class="container">
            <div class="text-center banner-text">
               <h1>Create Your Profile</h1>
               <h2>Upload your music </h2>
               <p>Watch your fanbase grow </p>
               <%= image_tag ("wave.png") %>
            </div>
         </div>
      </section>
      <!-- start artists area here -->		        
      <section class="artists">
         <div class="container">
            <h1>Popular Artists</h1>
           
            <%# @albums.each do |a| %>
            <% if @users.present? %>
             <div class="owl-carousel owl-theme">
            <% @users.each do |u| %>
               <div class="item">
                 <% if u.image.present? %>
                     <%= image_tag u.image,alt: 'Artist Image', :id => "profile_image" %>
                     <% else %>
                     <%= image_tag ("default_user.png"), :id => "profile_image", :alt => "Profile Image" %>
                     <% end %>
                  <%#= image_tag (u.image) %>

                  <h4><%= u.username %></h4>
               </div>
               <%end%>
                </div>
                   <%else%>
                     <h3 style="color:#808080;text-align: center;">No popular artist found </h3>   
                   <%end%>
            
           
         </div>
      </section>
      <!-- end Chefs area here -->
      <!-- start Our Newsletter area here -->
       <section class="analytics">
         <div class="container">
            <div class="row">
               <div class="col-sm-6 analytics_text">
                   <h1>View Your Analytics</h1>
                  <p>You can easily see where the majority of your listeners are located. View day by day performance of your music. See real time reviews of your music by listeners.
                  </p>
                  <%= link_to 'Get Started', "#", class: "btn register loginPopup", :role => "button" %>
               </div>
               <div class="col-sm-6 laptop">
                  <%= image_tag ("laptop.png") %>
               </div>
            </div>
         </div>
      </section>
      <!-- end Our play area here -->	
      <section class="play">
         <div class="container">
            <div class="row">
               <div class="col-sm-6 play_img">
                <%= image_tag ("man.png") %>
               </div>
               <div class="col-sm-6 play_text">
                  <h1><span style="color:#3d428c">Press. <span style="color: #f73974;">Play.</span> <span style="color:#3d428c">Get Paid</span></h1>
                  <p>TuneRewards prides itself on being the first and only IOS app that pays you to discover new music. We track and verify how many songs you’ve listened to and how many reviews you’ve given. Those listens and reviews get converted into points which can then be redeemed for cash prizes.
                  </p>
                   <%#= link_to image_tag('googleplay.png'), '#', class: 'google_play', rel: 'tooltip', relative: true %>
                   <%= link_to image_tag('iphone.png'), '#', class: 'google_play', rel: 'tooltip', relative: true %>
               </div>
            </div>
      </section>
      <section class="newsletter">
      <div class="container">
      <div class="text-center">
      <h1>Stay Tuned For Updates</h1>
      <p>Subscribe to our newsletter for updates, new prize releases and  </br>
      more content from awesome artists.
      </p>
      <%= form_for(:subscribe_news , :html => {:role => "form",:id=>"subscribe_form"}, url:  subscribe_me_subscribe_news_index_path) do |f| %>  
      <div class="form-group email">
      <%= f.email_field :email,email:true, required: true, :pattern => "[^@\s]+@[^@\s]+\.[^@\s]+", :title => "Please specify a valid email address.", class: "form-control", :id => "exampleInputEmail1", :placeholder => "Enter your email address" %>
       
      <span  id="subscribe_now"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
      </div>
      <% end %>
      </div>
      </div>
      </section>
      </div>
      <!--popup sign in-->
      <div class="modal fade" id="squarespaceModal3" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
         <div class="modal-dialog form_top">
            <div class="modal-content">
               <div class="modal-header close_head">
                    <button type="button" class="close custome" data-dismiss="modal">
                  <span aria-hidden="true" class="close_btn_pop">×</span>
                  <span class="sr-only">Close</span></button>
               </div>
               <div class="modal-body">
                  <!-- content goes here -->

         <%= render "/layouts/popup" %>


    
     <% if @users.count<5 %>
      <script>

      $(document).ready(function(){
        $('.owl-controls').css("display","none");
        
      })
     $("#subscribe_form").validate()
         // $(function(){
         //     $('select').selectpicker();
         // });
         
      </script>
      <% end %>
	  
	  <script>
    $(".custome1").click(function(){

      $('.modal-backdrop').css("display","none");
    
    })
    $("#subscribe_now").click(function(){
     
      if($("#subscribe_form").valid()){
        $("#subscribe_form").submit();
      }else{
         $('.error').css("color","#000");

         }
        })
         $("#face_book_signup").click(function(){
            $('.modal-backdrop').css("display","block");
		 $('#squarespaceModal3').hide();
		 $('#squarespaceModal4').show();
		 $('#squarespaceModal4').modal('show');
         });
      $(".loginPopup").click(function(){
          $('.modal-backdrop').css("display","block");
      $('#squarespaceModal4').hide();
		 $('#squarespaceModal3').show();
		 $('#squarespaceModal3').modal('show');
         });
      </script>
      <script>
         $('.owl-carousel').owlCarousel({
             loop:true,
             margin:30,
             nav:true,
         	navText:['<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>', '<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>'],
             responsive:{
                 0:{
                     items:1
                 },
                 600:{
                     items:2
                 },
                 1000:{
                     items:4
                 }
             }
         })
      </script>

