<style type="text/css">
	.wi{
		width:100% !important;
	}
</style>
<div class="main_content">
        <!-- find -->
        <section class="top_heading text-center">
        <div class="container">
        <h3>Privacy Policy</h3>
        </div>
        </section>
        <section class="user_setting">
        <div class="container">
          
        <div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-1 sidenav">
     <!--  <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p> -->
    </div>
    <div class="col-sm-10 text-left wi"> 
     <p>This privacy notice discloses the privacy practices for tunerewardsapp.com . This privacy notice applies solely to information collected by this website. It will notify you of the following:</p>

   <ul style="list-style-type:square">
        <li>What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.</li>
        <li>What choices are available to you regarding the use of your data.</li>
        <li>The security procedures in place to protect the misuse of your information.</li>
        <li>How you can correct any inaccuracies in the information.</li>
  </ul>  
    <h2>Information Collection, Use, and Sharing </h2>

   <ul style="list-style-type:square">
        <li>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</li>
        <li>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.</li>
        <li>Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</li>
  </ul> 
    </div>
      <div class="col-sm-10 text-left wi"> 
     <h2>Your Access to and Control Over Information </h2>

     <p>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:</p>
   <ul style="list-style-type:square">
        <li>See what data we have about you, if any.</li>
        <li>Change/correct any data we have about you.</li>
        <li>Have us delete any data we have about you.</li>
        <li>Express any concern you have about our use of your data</li>
  </ul>  
    <h2>Security</h2>

   <ul style="list-style-type:square">
        <li>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</li>
        <li>Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page.</li>
        <li>In order to use this website, a user must first complete the registration form. During registration a user is required to give certain information (such as name and email address). This information is used to contact you about the products/services on our site in which you have expressed interest.</li>
  </ul> 
    </div>
   <!--  <div class="col-sm-9 sidenav">
     
    </div> -->
    
  </div>
  <br><p>If you feel that we are not abiding by this privacy policy, you should contact us immediately at  or info@tunerewardsapp.</p>
</div>
          </div>

          </section>