
        <div class="main_content">
        <!-- find -->
        <section class="top_heading text-center">
        <div class="container">
        <h3>Reset Password</h3>
        </div>
        </section>
        <section class="user_setting">
        <div class="container">
          
          <div class="row">

        
       
              <div class="password  ">
                <% if @user.present?  %>
                <%= form_for(:user, as: "user", url:    updatepassword_path, :html => { :id => "edit_password", :role => "form",:class=>"edit_pro"},  method: "put",multipart: true ) do |f| %>

             
                <div class="form-group">
                <%= f.label :password, :for => "exampleInputPassword1" %>             
                <%= password_field_tag :password,"",:pattren=>"^(?=.[A-Za-z0-9])[\S]$", maxlength: 32,minlength: 6,class: "form-control",  :id => "password" , :placeholder => "*********"%>
                
                </div>
                 <%= f.hidden_field :fp_token,:value=>params[:token] %>
                <div class="form-group">
                <%= f.label :confirm_password, :for => "exampleInputPassword1" %>             
                <%= f.password_field :confirm_password,  class: "form-control", :id => "confirm_password", :placeholder => "*********" %>
                </div>
                <%= f.submit "Change Password", :class => "btn save change_p" %>

                <% end %>
                <% else %>
                <h3>Your Link has been expired !!! </h3>
                <% end  %>
                  </div>
                     </div>
                      </div>
                     </section>
        </div>


        <script>

        $(document).ready(function () {
           $(document).on('keydown', '#password', function(e) {
           if (e.keyCode == 32) return false;
          });
       
            $(document).on('keydown', '#confirm_password', function(e) {
           if (e.keyCode == 32) return false;
          });
        $("#user_setting").validate();
        setTimeout(function(){ $("#password").val(''); }, 1000);
        
        $(".password form").validate({
        // debug: false,
            rules: {
             
              "user[password]": {required: true, minlength: 6,maxlength:32},
              "user[confirm_password]": {required: true, equalTo: "#password"}
            },
            messages:{
            "user[password]": {
              required: "This field is required"
              },
            "user[confirm_password]": {
              pattern: "This field is required"
              },
            }
        });

});
       

       

        

        </script>
