 <!-- start footer here-->
<style>
.footer {
    padding: 20px 0px;
}
.listg_heading {
    margin-bottom: 25px;
}
.listg_heading h3 {
    margin-top: 0px;
}
 .listing_social {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}
 .listing_social .about, .listg_heading .about {
    text-align: center;
 }
.footer p.text-center {
    margin-bottom: 35px;
    font-size: 16px;
    opacity: 0.4;
    margin-top: 5px;
 }
 .footer-logo {
    position: relative;
 }
 .footer-logo::before, .footer-logo::after{
    position: absolute;
    background-color: #fff;
    content: "";
    opacity: 0.2;
    top: 50%;
   width: 46%;
   height: 1px;
 }
 .footer-logo::before {
    left: 50px;
 }
/*.footer-logo::after {
    right: 0px;
}*/
.footer-logo img {
    width: 45px;
  }
</style>
  <footer class="footer">
         <div class="container">
            <div class="row listg_heading">
               <aside class="col-sm-3 site">
               <h4><%= link_to 'About', about_us_path %> </h4>
                   
               </aside>
               <aside class="col-sm-3 site">
                  <h4><%= link_to 'Contact', contact_us_path %></h4>
               
               </aside>
               <aside class="col-sm-3 site">
                  <h4><%= link_to 'How Tune Rewards Works', how_it_work_path %></h4>
           
               </aside>
                 <aside class="col-sm-3 site">
                  <h4><%= link_to 'Privacy Policy', privacy_path %></h4>
              
               </aside>
            </div>
            <div class="row">
               <div class="footer-logo text-center">
                  <%#=  image_tag(asset_path("s_logo.png"))  %>
               </div>
            </div>
            <p class="text-center"></p>
             <div class="listing_social">
               <aside class="col-sm-3 about">
                   <%= link_to ''.html_safe, @root_path  do%><%=  image_tag(asset_path("instagram.png"),:style=>"height: 50px;")  %><% end%>
               </aside>
               <aside class="col-sm-3 about">
                <%= link_to ''.html_safe, @root_path  do%><%=  image_tag(asset_path("facebook1.png"),:style=>"height: 50px;"  )%><% end%>
                </aside>
                  <aside class="col-sm-3 about">
                    <%= link_to ''.html_safe, @root_path  do%><%=  image_tag(asset_path("twitter.png"),:style=>"height: 50px;"  )%><% end%>
               </aside>
                <aside class="col-sm-3 about">
                   <%= link_to ''.html_safe, @root_path  do%><%=  image_tag(asset_path("linkedin.png"),:style=>"height: 50px;") %><% end%>
               </aside>
             </div>
         </div>
      </footer>
      <div class="bottom_footer">
         <div class="container">
            <div class="row">
               <div class="col-sm-6">
                  <p style="font-weight: 600;">Tune Reward, designed by www.netsetsoftware.com</p>
               </div>
               <div class="col-sm-6 bottom_link">
                  <ul>
                     <li><%= link_to 'Privacy Policy |', privacy_path %></li>
                     <li><%= link_to 'Terms of Services', '#' %></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- end footer here-->