      <!-- start header part here -->
      <header class="header">
         <div class="container">
            <div class="row">
               <aside class="col-sm-3 col-xs-8 logo">
                 <%= link_to (image_tag("logo.png")), root_path %>
               </aside>
               <aside class="col-sm-9 col-xs-4">
                  <nav class="navbar navbar-default custom_navigation">
                     <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>          
                     </div>
             
                     <div aria-expanded="false" id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                           <li role="presentation"><%= link_to 'Home', root_path %></li>
                           <li role="presentation"><%= link_to 'About Us', about_us_path %></li>
                           <li role="presentation"><%= link_to 'Contact Us', contact_us_path %></li>
                           <li role="presentation"> <%= link_to 'How Tune Rewards Works', how_it_work_path %></li>

                        <li role="presentation"><a class="btn register loginPopup"  role="button"><i class="fa fa-lock" aria-hidden="true"></i>
                              LOGIN</a>
                           </li>
                        </ul>
                     </div>
                  </nav>
               </aside>
            </div>
         </div>
      </header>
      <!-- end header part here -->