 <!-- start header part here -->
      <header class="header">
         <div class="container">
            <div class="row">
               <aside class="col-sm-4 col-xs-9 logo">
                 <%= link_to (image_tag("logo.png")), root_path %>
               </aside>
               <aside class="col-sm-8 col-xs-3">
                  <nav class="navbar navbar-default custom_navigation">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>          
                     </div>
                     <div aria-expanded="false" id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                           <li class="my_profile" role="presentation">
                              <%= link_to 'My Album', albums_albums_path %>
                              </li>
                          <li class="notifi_cation dropdown notify" role="presentation"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bell-o" aria-hidden="true"></i></a> <span class="count note"></span>
                          <div class="dropdown-menu notify" >
                          <% if  current_user.notifications.where(:user_id=>current_user.id).count>5
                            
                             %>
                            
                         <p class="view_all_noti"><%= link_to "View All Notifications",notifications_path %></p>
                                 <%end%>
                                 <ul id="notification_lis" class="notify">
                                 <% @notifications = Notification.where(:user_id=>current_user.id).order("id desc").limit(5) %>
                               <% if @notifications.present? %>
                               <%  @notifications.each do |noti| 
                                 %>
                                <li><%= noti.message %> <span class="noti_time">
                                    <%= time_ago_in_words(noti.created_at)  %> Ago

                                    </span></li>
                                    <% end %> 
                                   <%else%>
                                    <li>No notification found </li>
                                   <%end%>
                                 </ul> 
                              </div>

                           </li>
                           <li>
                           <aside class="logout">
                           <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <%# debugger %>
                           Welcome <span style="font-weight:600;"><%= current_user.first_name %></span> 
                           <i class="fa fa-angle-down" aria-hidden="true"></i>
                           </a>	
                           </br><%= link_to "Log Out" ,destroy_user_session_path,:method=>:delete, :class=>"log_out" %>
                          
                           <ul class="dropdown-menu"> 
                          <li><%= link_to '<i class="fa fa-user" aria-hidden="true"></i> User Settings' .html_safe, usersetting_path %></li> 
                           <li><%= link_to '<i class="fa fa-cogs" aria-hidden="true"></i> Account Settings'.html_safe, setting_path %></li> 
                           <li><%= link_to '<i class="fa fa-bell" aria-hidden="true"></i> Notifications'.html_safe, notifications_path %></li> 
                           </ul> 
                           </li>
                           </aside>
                           </li>
                        </ul>
                     </div>
                  </nav>
               </aside>
            </div>
         </div>
      </header>
     
  <script>
$('.notify').click(function(){
 
  $.ajax({
      type: "GET",
      url: "/notifications/unread_notification?read='true'",
     success: function(datas) {
       
     
       },
    })
  });
  </script>