<%= form_for(:user, :url => session_path(:user), html: { multipart: true, :id =>"login_user",:class=>"edit_pro"} ) do |f| %>                    <div class="text-center head_tx">
                        <h3>Login Below to your </br>Account</h3>
                     </div>
                     <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <%= f.email_field :email,:required => true, :email=> true,autofocus: true, autocomplete: "email",:class=>"form-control",:id=>"exampleInputEmail1",:placeholder=>"Enter your email address"  %>
                       <!--  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address"> -->
                     </div>
                     <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                           <%= f.password_field :password,:required => true, autocomplete: "off",:class=>"form-control",:id=>"login_password",:placeholder =>"Enter your Password" %>
                      <!--   <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your Password"> -->
                     </div>
                     <%= f.submit "Sign In", :class => "btn sign" %>
                     <!-- <a class="btn sign" href="profile.html" role="button">Sign In </a> -->
                      <p class="forget"><%= link_to "Forgot Password ?",forgetpassword_path %></p>
                     <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or">or</span>
                     </div>
                     <div class="form-group">
                        <a class="btn face_book"  role="button"><span class="google1"> <%= image_tag ("facebook_w.png") %>
                        Sign Up with <span class="facebook">Facebook</span></a>
                     </div>
                     <aside class="acc text-center">
                        <p>Don’t have an account?</p>
                       <p class="sign_up"><a href="#" id="face_book_signup">Sign Up</a></p>
                     </aside>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <% end %>

   
<div class="modal fade" id="squarespaceModal4" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
   <div class="modal-dialog form_top">
      <div class="modal-content">
       <div class="modal-header close_head">
       <button type="button" class="close custome custome1" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
      <div id="user_register">
           <%= form_for(:user, url: registration_path(:user), html: { multipart: true, :id =>"new_user",:class=>"edit_pro"} ) do |f|  %>

            <div class="text-center head_tx">
            <h3>Sign Up Below </br>to start your account</h3>
            </div>

            <div class="form-group">
             <label for="first_name">First name</label>
            <%= f.text_field :first_name, :class => 'form-control', :placeholder=>"First Name",:value => "",:required => true, maxlength: 25,minlength: 3,:pattern=>"^[a-zA-Z \.\,\\-]*$"  %>

            </div>
            <div class="form-group">
              <label for="last_name">Last name</label>
            <%= f.text_field :last_name, :class => 'form-control', :placeholder=>"Last Name",:value => "",:required => true, maxlength: 25,minlength: 3,:pattern=>"^[a-zA-Z \.\,\\-]*$"  %>
                <%= f.hidden_field :role, :value => "A"%>
            </div>
                 <div class="form-group">
              <label for="username">Username</label>
            <%= f.text_field :username, :class => 'form-control', :placeholder=>"Username",:value => "",:required => true, maxlength: 25,minlength: 3  %>
                <%= f.hidden_field :role, :value => "A"%>
            </div>
           <div class="form-group">
            <label for="email">Email</label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,:class => 'form-control', :placeholder=>"Email",:value => "",:required => true,remote:"/common/check_email" %>
             </div>
           <div class="form-group">
            <label for="password">Password</label>
           <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder=>"Password",:value => "",:required => true %>
            </div>

            <div class="form-group">
             <label for="confirm_password">Confirm Password</label>
            <%= f.password_field :password_confirmation, autocomplete: "off" ,:class => 'form-control', :placeholder=>"Confirm Password",:value => "",:required => true %>

            </div>
            <%= f.submit "Sign up", :class => "btn sign" %>
            <!--  <a class="btn sign" href="#" role="button">Sign UP </a> -->
            <div class="custom_check_outer">
            <div class="custom_check">
            <label class="check_wrap" style="font-size:16px">
            <%= check_box_tag(:Accept,:required => true )%>
            I accept the <span style="color: #f73974;">terms and conditions</span>
            <span class="checkmark"></span>
            </label>
            </div>
            </div>
            <aside class="acc text-center member">
            <p>Already a Member?</p>
            <p class="sign_up "><a href="#" class="loginPopup" >Log In</a></p>
            </aside>
            <% end %>
            </div>
       </div>
      </div>
    </div>
</div>

<script src="https://connect.facebook.net/en_US/all.js" type="text/javascript"></script>
  <script type="text/javascript" src="//connect.facebook.net/en_US/all.js#xfbml=1&appId=2125422357742444" id="facebook-jssdk"></script>
      <script type="text/javascript">
  
  $(document).ready(function($) {



$('.face_book').click(function(){
window.fbAsyncInit = function() {
    FB.init({
      appId      : '2125422357742444',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.0'
    });
      
    FB.AppEvents.logPageView();   
    
  };
  
 FB.login(function(response) {
    if (response.authResponse) {
     console.log(response.authResponse.accessToken);
     FB.api('/me',{fields: 'id,email,name,first_name,last_name,age_range,link,picture'}, function(response) {
      
       console.log('Good to see you, ' + response.name + '.');
     });

     $.ajax({
      type: "POST",
      data: {access_token:response.authResponse.accessToken},
      url: "/social_login",
     success: function(datas) {
      console.log("User data")
      console.log(datas)
        if(datas.id){
          window.location.href = "/profile"
        }
       },
    });

    } else {
     console.log('User cancelled login or did not fully authorize.');
    }
});
  


});
//   var fblink = "https://www.facebook.com/net.set";


// var sections = fblink.split("/");
// var value = sections[3]; 

// var sections2 = value.split("-");
// if(sections2[1]){
//   var value2 = sections2[1]; 
// }else{
// var value2 = sections2;   
// }
// var app_id = "1951518798420076";
// var client_secret = "7e4e3229971ca6e59f5928cf88d2a354";


//  $.ajax({
//         type : 'GET', // define the type of HTTP verb we want to use (POST for our form)
//         url : "https://graph.facebook.com/oauth/access_token?type=client_cred&client_id="+app_id+"&client_secret="+client_secret, 
//         dataType:'json',
//       success : function(result) {
//       var access_token = result.access_token;

//      console.log("https://graph.facebook.com/"+value2+"/posts?fields=id,description,name,message,picture,created_time,actions,from,type,status_type&access_token="+access_token+"&limit=5");
//      $.ajax({
//         type : 'GET', // define the type of HTTP verb we want to use (POST for our form)
//         url : "https://graph.facebook.com/"+value2+"/posts?fields=id,description,name,message,picture,created_time,actions,like_count,from,type,status_type&access_token="+access_token+"&limit=5", 
//         dataType:'json',
//       success : function(result) {
//         console.log(result)
       
//         }
//       });
//    }
//  });
    $(document).on('keydown', '#user_password', function(e) {
    if (e.keyCode == 32) return false;
});
$(document).on('keydown', '#user_password_confirmation', function(e) {
    if (e.keyCode == 32) return false;
});
$(document).on('keydown', '#login_password', function(e) {
    if (e.keyCode == 32) return false;
});

$("#login_user").validate();
 $("#user_register form").validate({
// debug: false,
rules: {
"user[first_name]": {required: true,minlength: 3,maxlength: 25},
"user[last_name]": {required: true,minlength: 3,maxlength: 25},
"user[email]": {required: true, email: true,remote:"/common/check_email"},
"user[password]": {required: true, minlength: 6},
"Accept": {required: true},
"user[password_confirmation]": {required: true, equalTo: "#user_password"}

},
messages:{
  "user[email]": {
                    remote: "Email already exist"
                },
   "Accept": {
                    required: "Please Accept Terms & Condition"
                },
  

 "user[first_name]": {
                    pattern: "Please specify a valid first name"
                },
 "user[last_name]": {
                    pattern: "Please specify a valid last name"
                },
 

                
  
}
});

      });

  
</script>