<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wave Music</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
<body>
<%= render "shared/sidebar"%>
 <%# if user_signed_in? && (params['controller'] != 'home') && (((params[:action] != 'update_password') && params[:action] != 'change_password_success_page'))%>
 <%# if user_signed_in? %>

<%#else%>
<%#= yield %>
<%#end%>
  </body> 

</html>
 <script type="text/javascript">
   $('document').ready(function() {
    setTimeout(function() {
    $('.alert').slideUp();
    $('.notice').slideUp();
     $('#error_explanation').slideUp();
  }, 5000); 
})
   // Disallow space on first position
  $(":input").on("keypress", function(e) {
    if (e.which === 32 && !this.value.length)
        e.preventDefault();
});
</script>