<!DOCTYPE html>
<html>
  <head>
    <title>Tune Rewards App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   

     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>


    
     <% if user_signed_in? %>
 <script>
 setInterval(function(){ 
 $(".alert").css("display","none");
  $.ajax({
      type: "GET",
      url: "/notifications/unread_notification",
     success: function(datas) {
      if(datas.length==0){
       $('.note').html('')
      }else{
        $('.note').html(datas.length)
      }
        
       },
    })
  }, 3000);


  </script>
  <% end %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128224883-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128224883-1');
</script>

  </head>
  

    
  	<% if user_signed_in? %> 
     
     <% if params[:controller]== "albums" %>
      <%= render '/layouts/header_profile' %>
     <% else %>
       <%= render '/layouts/header_after_login' %>
           <%end%>
       <% else %>
       <%= render '/layouts/header' %>
       <%end%>
 
  <body>
    <%= yield %>
  </body>
    <%= render '/layouts/footer' %>
</html>
